{% extends "base.html" %}

{% block title %}{{ _('Object Permissions') }} — {{ service_name }}{% endblock %}

{% block stylesheets %}
  {{ super() }}
    <link rel="stylesheet" href="{{ fingerprinted_static('bootstrap-select/css/bootstrap-select.min.css') }}" />
    <link rel="stylesheet" href="{{ fingerprinted_static('bootstrap-toggle/css/bootstrap-toggle.min.css') }}" />
{% endblock %}

{% block template_values %}
  {% do set_template_value("component_users", component_users) %}
  {% do set_template_value("policies", policies) %}
  {% do set_template_value("translations.project_group", _('Project Group')) %}
  {% do set_template_value("translations.project_groups", _('Project Groups')) %}
  {% do set_template_value("translations.basic_group", _('Basic Group')) %}
  {% do set_template_value("translations.basic_groups", _('Basic Groups')) %}
  {% do set_template_value("translations.user", _('User')) %}
  {% do set_template_value("translations.users", _('Users')) %}
  {% do set_template_value("translations.not_a_valid_id", _('Not a valid ID. Expected a positive integer.')) %}
  {% do set_template_value("translations.project_group_already_added", _('Project Group has already been added.')) %}
  {% do set_template_value("translations.basic_group_already_added", _('Basic Group has already been added.')) %}
  {% do set_template_value("translations.user_already_added", _('User has already been added.')) %}

  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ fingerprinted_static('bootstrap-select/js/bootstrap-select.min.js') }}"></script>
  <script src="{{ fingerprinted_static('bootstrap-toggle/js/bootstrap-toggle.min.js') }}"></script>
  <script src="{{ fingerprinted_static('sampledb/js/treepicker.js') }}" type="module"></script>
  <script src="{{ fingerprinted_static('sampledb/js/sampledb-load-objects.js') }}" type="module"></script>
  <script src="{{ fingerprinted_static('sampledb/js/policies.js') }}" type="module"></script>
{% endblock %}

{% block content %}
  <h1>{{ _('Object') }} #{{ object.object_id }}{% if object.data %}: {{ object.data.name.text | get_translated_text(default="—") }}{% endif %}</h1>
  <h2>{{ _('Permissions') }}</h2>
  {% set user_may_edit = (permissions_form is not none) %}
  {% set form_url = url_for('.update_object_permissions', object_id=object.object_id) %}
  {% set fixed_user_permissions = {}  %}
  {% set show_administrators = True %}
  {% set show_instrument_scientists = instrument is not none %}
  {% set show_all_users = True %}
  {% set show_anonymous_users = config['ENABLE_ANONYMOUS_USERS'] %}
  {% set read_permissions_description = _('Permission to view objects and their properties, files and comments.') %}
  {% set write_permissions_description = _('Permission to edit objects and their properties and add files and comments. Includes Read permissions.') %}
  {% set grant_permissions_description = _('Permission to grant permissions to other users. Includes Write permissions.') %}
  {%  include "permissions/permissions.html" %}
  {% if user_may_edit %}
    {% if object.component_id is none and (possible_new_components or federation_shares)%}
      <h3 id="other-databases">{{ _('Other databases') }}</h3>
      {% if federation_shares %}
        <form action="{{ url_for('.update_object_permissions', object_id=object.object_id) }}" method="post">
          {% include "objects/object_permissions_edit_databases.html" %}
          <div class="container">
            <button type="submit" class="btn btn-success col-md-offset-9 col-md-3" name="edit_component_policy" value="edit_component_policy">{{ _('Save') }}</button>
          </div>
        </form>
      {% endif %}
      {% if possible_new_components %}
      <h4>{{ _('Add database') }}</h4>
      <form action="{{ url_for('.update_object_permissions', object_id=object.object_id) }}" method="post">
        {{ add_component_policy_form.csrf_token }}
        <div class="well">
          {% include "objects/object_permissions_add_database.html" %}
        </div>
        <div class="container">
          <button type="submit" class="btn btn-success col-md-offset-9 col-md-3" name="add_component_policy" value="add_component_policy">{{ _('Add') }}</button>
        </div>
      </form>
      {% endif %}
    {% endif %}
    {% if copy_permissions_form %}
    <div class="container text-right" id="copyPermissionsLoading" style="display: none;">
      <span class="btn btn-primary col-md-offset-9 col-md-3 disabled" style="margin-top: 1em;">
        <i class="fa fa-spinner fa-spin"></i>
        <span class="sr-only">{{ _('Loading...') }}</span>
      </span>
     </div>
    <div class="container text-right" id="copyPermissionsBtnDiv">
      <button type="button" class="btn btn-primary col-md-offset-9 col-md-3" id="copyPermissionsBtn" style="margin-top: 1em;" data-toggle="modal" data-target="#copyPermissionsModal">
        {{ _('Copy Permissions') }}
      </button>
     </div>
    {% endif %}
    <div class="container">
     <a href="{{ url_for('.object', object_id=object.object_id) }}" class="btn btn-default col-md-offset-9 col-md-3" style="margin-top: 1em; margin-bottom: 1em;">{{ _('Cancel') }}</a>
    </div>
  {% endif %}

  {% if copy_permissions_form %}
  <div class="modal fade" id="copyPermissionsModal" tabindex="-1" role="dialog" aria-labelledby="copyPermissionsModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" action="{{ url_for('.object_permissions', object_id=object.id) }}">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="copyPermissionsModalLabel">{{ _('Copy permissions from other Object') }}</h4>
          </div>
          <div class="modal-body">
            <p class="text-muted">{{ _('You can replace the current permissions by copying the permissions from another object.') }}</p>
              {{ copy_permissions_form.hidden_tag() }}
              <select class="selectpicker" name="{{ copy_permissions_form.object_id.name }}" data-live-search="true" data-width="100%" data-sampledb-remove="{{ object.id }}" data-sampledb-required-perm="3" data-sampledb-start-show="#copyPermissionsLoading" data-sampledb-start-hide="#copyPermissionsBtnDiv" data-sampledb-empty-disable="#copyPermissionsBtn" data-sampledb-stop-hide="#copyPermissionsLoading" data-sampledb-stop-show="#copyPermissionsBtnDiv">
              </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
            <input type="submit" class="btn btn-primary" name="copy_permissions" value="{{ _('Copy Permissions') }}" />
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
