{% if 'tooltip' in schema["items"].properties[property_name] %}
  <span data-toggle="tooltip" data-placement="top" title="{{ schema["items"].properties[property_name].tooltip | get_translated_text }}">
  {{ schema["items"].properties[property_name].title | get_translated_text }}
    <i class="fa fa-question-circle" aria-hidden="true"></i>
  </span>
{% else %}
  {{ schema["items"].properties[property_name].title | get_translated_text }}
{% endif %}

{% if schema["items"].properties[property_name].type == 'text' %}
  <a href="{{ url_for('.objects', q=search_query_attribute + ' == ""', advanced='on') }}" class="search-helper"><i class="fa fa-search" aria-hidden="true"></i></a>
{% elif schema["items"].properties[property_name].type == 'quantity' %}
  {% if schema["items"].properties[property_name].units is string and schema["items"].properties[property_name].units.strip() != '1' %}
    <a href="{{ url_for('.objects', q=search_query_attribute + ' == 0' + schema["items"].properties[property_name].units, advanced='on') }}" class="search-helper"><i class="fa fa-search" aria-hidden="true"></i></a>
  {% elif schema["items"].properties[property_name].units is not string and schema["items"].properties[property_name].units | length == 1 and schema["items"].properties[property_name].units[0].strip() != '1' %}
    <a href="{{ url_for('.objects', q=search_query_attribute + ' == 0' + schema["items"].properties[property_name].units[0], advanced='on') }}" class="search-helper"><i class="fa fa-search" aria-hidden="true"></i></a>
  {% else %}
    <a href="{{ url_for('.objects', q=search_query_attribute + ' == 0', advanced='on') }}" class="search-helper"><i class="fa fa-search" aria-hidden="true"></i></a>
  {% endif %}
{% elif schema["items"].properties[property_name].type == 'bool' %}
  <a href="{{ url_for('.objects', q=search_query_attribute + ' == True', advanced='on') }}" class="search-helper"><i class="fa fa-search" aria-hidden="true"></i></a>
{% else %}
  <a href="{{ url_for('.objects', q='!(' + search_query_attribute + ' == null)', advanced='on') }}" class="search-helper"><i class="fa fa-search" aria-hidden="true"></i></a>
{% endif %}
