{% extends "base.html" %}

{% block title %}{{ _('API Log') }} — {{ service_name }}{% endblock %}

{% block content %}
<h1>{{ _('Log for %(api_token_type)s "%(api_token)s"', api_token=api_token_description, api_token_type=api_token_type) }}</h1>

{% if api_log_entries %}
<p class="help-block">{{ _('This table shows a list of all API request authenticated with this %(api_token_type)s.', api_token_type=api_token_type) }}</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ _('Datetime') }}</th>
      <th scope="col">{{ _('Method') }}</th>
      <th scope="col">{{ _('Endpoint') }}</th>
    </tr>
  </thead>
  <tbody>
    {% for api_log_entry in api_log_entries %}
    <tr>
      <td>{{ api_log_entry.utc_datetime | babel_format_datetime }}</td>
      <td>{{ api_log_entry.method.name }}</td>
      <td style="font-family: monospace">{{ api_log_entry.route}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  {% else %}
  <p class="help-block">{{ _('This %(api_token_type)s has not been used so far.', api_token_type=api_token_type) }}</p>
  {% endif %}
{% endblock %}
