{% extends "base.html" %}

{% block title %}Groups — {{ service_name }}{% endblock %}

{% block content %}
  <h1>Groups</h1>
  <p class="text-muted">A group consists of equal users which share the object permissions granted to it. <a href="https://scientific-it-systems.iffgit.fz-juelich.de/SampleDB/user_guide/groups.html">Read more.</a></p>
  {% if not current_user.is_readonly %}
  <p>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createGroupModal">Create Group</button>
  </p>
  {% endif %}
  <ul id="groups_list">
    {% for group in groups %}
    <li><a href="{{ url_for('.group', group_id=group.id) }}">{{ group.name }}</a>{% if group.is_member %} <span class="label label-default">Member</span>{% endif %}</li>
    {% endfor %}
  </ul>
  {% if not current_user.is_readonly %}
  <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createGroupModalLabel">Create Group</h4>
        </div>
        <form method="post" action="{{ request.url }}" class="form-horizontal">
          {{ create_group_form.csrf_token() }}
          <div class="modal-body">
            <div class="form-group {% if create_group_form.name.errors %}has-error{% endif %}">
              <label for="createGroupName" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="createGroupName" name="{{ create_group_form.name.name }}" placeholder="Name" value="{{ create_group_form.name.data }}">
                {% for error_message in create_group_form.name.errors %}<span class="help-block">{{ error_message }}</span>{% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label for="createGroupDescription" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" style="resize: vertical; min-height:2.5em;" id="createGroupDescription" name="{{ create_group_form.description.name }}" placeholder="Description">{{ create_group_form.description.data }}</textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name="create" value="create">Create Group</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  {% if show_create_form %}
  <script>
    $(document).ready(function() {
      var create_modal = $('#createGroupModal');
      create_modal.removeClass('fade');
      create_modal.modal('show');
      create_modal.addClass('fade');
    });
  </script>
  {% endif %}
{% endblock %}