<h4>Invitation Log</h4>
{% if all_invitations %}
<ul>
{% for invitation in all_invitations %}
  <li><a href="{{ url_for('.user_profile', user_id=invitation.user_id) }}">{{ get_user(invitation.user_id).name }} (#{{ invitation.user_id }})</a> has been invited by <a href="{{ url_for('.user_profile', user_id=invitation.inviter_id) }}">{{ get_user(invitation.inviter_id).name }} (#{{ invitation.inviter_id }})</a> on {{ invitation.utc_datetime.strftime('%Y-%m-%d') }} <span class="label label-default">{% if invitation.accepted %}accepted{% elif invitation.expired %}expired{% else %}pending{% endif %}</span></li>
{% endfor %}
</ul>
{% else %}
  <p>&mdash;</p>
{% endif %}
