{% extends "base.html" %}

{% block content %}
  <h1 class="text-center">Invite a person</h1>
  <form class="form-horizontal" method="post" id="form-invitation">
    {{ invitation_form.csrf_token() }}
    <div class="form-group{% if invitation_form.email.errors or has_error %} has-error{% endif %}">
      <label for="input-email" class="col-sm-4 control-label">Email</label>
      <div class="col-sm-8">
        <input class=form-control type="text" class="form-control" id="input-email" name="email" placeholder="Email">
        {% if has_success%}
          <span class='help-block'>Send invitation successfully.</span>
        {% endif %}
        {% if has_error%}
          <span class='help-block'>Emails is required or email doesn't seems to be an email</span>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Invite</button>
      </div>
    </div>
  </form>
{% endblock %}