{% extends "base.html" %}

{% block title %}{% if is_ldap_configured %}{{ _('Invite a Guest')}}{% else %}{{ _('Invite another User') }}{% endif %} — {{ service_name }}{% endblock %}

{% block content %}
  <h1 class="text-center">{% if is_ldap_configured %}{{ _('Invite a Guest') }}{% else %}{{ _('Invite another User') }}{% endif %}</h1>
  <div class="container" style="max-width:600px">
  <p class="text-center">{{ _('To invite %(user)s to %(service_name)s, please submit their email address using the form below. They will then receive an email which can be used to complete the registration process.', service_name=service_name, user=(_('a guest') if is_ldap_configured else _('another user'))) }}</p>
  <form class="form-horizontal" method="post" id="form-invitation">
    {{ invitation_form.csrf_token() }}
    <div class="form-group{% if invitation_form.email.errors or has_error %} has-error{% endif %}">
      <label for="input-email" class="col-sm-2 control-label">{{ _('Email') }}</label>
      <div class="col-sm-8">
        <input class=form-control type="text" id="input-email" name="email" placeholder="{{ _('Email') }}">
        {% if mail_send_status is not none %}
            {% if mail_send_status == mail_send_status.DONE %}
          <span class='help-block'>{{ _('An invitation has been sent to %(email)s.', email=invitation_form.email.data)}}</span>
            {% elif mail_send_status == mail_send_status.FAILED %}
          <span class='help-block'>{{ _('Sending an invitation to %(email)s failed. Please verify that the email address is correct.', email=invitation_form.email.data)}}</span>
            {% else %}
          <span class='help-block'>{{ _('An invitation will be sent to %(email)s.', email=invitation_form.email.data)}}</span>
            {% endif %}
        {% endif %}
        {% if has_error %}
          <span class='help-block'>{{ _('Please enter a valid email address.')}}</span>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary col-sm-2">{{ _('Invite') }}</button>
    </div>
  </form>
  </div>
{% endblock %}