{% extends "base.html" %}

{% block title %}Invite {% if is_ldap_configured %}a Guest{% else %}another User{% endif %} — {{ service_name }}{% endblock %}

{% block content %}
  <h1 class="text-center">Invite {% if is_ldap_configured %}a Guest{% else %}another User{% endif %}</h1>
  <div class="container" style="max-width:600px">
  <p class="text-center">To invite {% if is_ldap_configured %}a guest{% else %}another user{% endif %} to {{ service_name }}, please submit their email address using the form below. They will then receive an email which can be used to complete the registration process.</p>
  <form class="form-horizontal" method="post" id="form-invitation">
    {{ invitation_form.csrf_token() }}
    <div class="form-group{% if invitation_form.email.errors or has_error %} has-error{% endif %}">
      <label for="input-email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-8">
        <input class=form-control type="text" id="input-email" name="email" placeholder="Email">
        {% if has_success%}
          <span class='help-block'>The invitation to {{invitation_form.email.data}} has been sent.</span>
        {% endif %}
        {% if has_error%}
          <span class='help-block'>Please enter a valid email address.</span>
        {% endif %}
      </div>
        <button type="submit" class="btn btn-primary col-sm-2">Invite</button>
    </div>
  </form>
  </div>
{% endblock %}