{% macro _federation_information_symbol(obj, text=false, nolink=false) %}
  {% if obj.component.address is not none and not nolink %}
    <a href="{{ get_federation_url(obj) }}">
  {% endif %}
  {% if text %}
    (#{{ obj.fed_id }} @ {{ obj.component.get_name() }})
  {% else %}
    <i class="fa fa-share-alt" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="#{{ obj.fed_id }} @ {{ obj.component.get_name() }}"></i>
  {% endif %}
  {% if obj.component.address is not none and not nolink %}
    </a>
  {% endif %}
{% endmacro %}

{% macro import_information_symbol(object, text=false, nolink=false) %}
  {% if object.fed_id is not none %}
    {{ _federation_information_symbol(object, text=text, nolink=nolink) }}
  {% endif %}
{% endmacro %}
