{% macro _federation_information_symbol(obj, text=false, nolink=false) %}
  {% if obj.component.address is not none and not nolink %}
    <a href="{{ get_federation_url(obj) }}" class="import-information-symbol">
  {% endif %}
  {% if text %}
    (#{{ obj.fed_id }} @ {{ obj.component.get_name() }})
  {% else %}
    <i class="fa fa-share-alt" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="#{{ obj.fed_id }} @ {{ obj.component.get_name() }}"></i>
  {% endif %}
  {% if obj.component.address is not none and not nolink %}
    </a>
  {% endif %}
{% endmacro %}

{% macro user_reference(user_id_or_user, text=false, nolink=false, external=false) %}
  {% set user_id_or_user, imported_user = get_federated_identity(user_id_or_user) %}
  {% if user_id_or_user is number %}
    {% set user_or_none = get_user_or_none(user_id_or_user) %}
  {% else %}
    {% set user_or_none = user_id_or_user %}
  {% endif %}
  {% if user_or_none is not none and not nolink %}
    <a href="{{ url_for('frontend.user_profile', user_id=user_or_none.id, _external=external) }}">
  {%- endif -%}
  {%- if user_or_none is none -%}
    {%- if user_id_or_user is none -%}
      &mdash;
    {%- else -%}
      {{ _('Unknown User') }} (#{{ user_id }})
    {%- endif -%}
  {%- else -%}
    {{ user_or_none.get_name(include_ref=text) }}
  {%- endif -%}
  {%- if user_or_none is not none and not nolink -%}
    </a>
  {%- endif -%}
  {%- if user_or_none is not none and not text -%}
    {{ import_information_symbol(user_or_none, nolink=nolink) }}
  {%- endif -%}
  {%- if imported_user is not none and not text -%}
    {{ import_information_symbol(imported_user, nolink=nolink) }}
  {%- endif -%}
{% endmacro %}

{% macro _eln_import_information_symbol(obj, text=false, nolink=false) %}
  {% set signed_by = get_import_signed_by(obj.eln_import_id) %}
  {% if not nolink %}
    <a href="{{ url_for('.eln_import', eln_import_id=obj.eln_import_id) }}" class="import-information-symbol">
  {% endif %}
  {% if text %}
    {% if signed_by != None %}
      ({{ obj.eln_object_id }} @ {{ _('.eln file') }} #{{ obj.eln_import_id }} {{ _('Signed by') }} {{ signed_by }})
    {% else %}
      ({{ obj.eln_object_id }} @ {{ _('.eln file') }} #{{ obj.eln_import_id }})
    {% endif %}
  {% else %}
    {% if signed_by != None %}
      <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="" data-original-title="./objects/3 @ .eln file #{{ obj.eln_import_id }} {{ _('Signed by') }} {{ signed_by }}" style="height: 1em">
        <i aria-hidden="true" class="fa fa-file-archive-o fa-stack-1x" style="line-height: 1em"></i>
        <i class="fa fa-lock fa-stack-1x" aria-hidden="true" style="padding-left: .8em; padding-top: .3em; line-height: 1em"></i>
      </span>
    {% else %}
      <i class="fa fa-file-archive-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ obj.eln_object_id }} @ {{ _('.eln file') }} #{{ obj.eln_import_id }}"></i>
    {% endif %}
  {% endif %}
  {% if not nolink %}
    </a>
  {% endif %}
{% endmacro %}

{% macro import_information_symbol(object, text=false, nolink=false) %}
  {% if object.fed_id is defined and object.fed_id is not none %}
    {{ _federation_information_symbol(object, text=text, nolink=nolink) }}
  {% endif %}
  {% if object.eln_import_id is defined and object.eln_import_id is not none %}
    {{ _eln_import_information_symbol(object, text=text, nolink=nolink) }}
  {% endif %}
{% endmacro %}
