<!-- extend from base layout -->
{% extends "base.html" %}

{% block title %}Account Recovery — {{ service_name }}{% endblock %}

{% block content %}
  <h2 class="text-center">Account Recovery for {{ user.name }} </h2><br>
  <form class="form-horizontal" method="post" id="form-password-recovery">
    {{ password_form.csrf_token() }}
    {% if username%}
    <div class="form-group">
      <label class="col-sm-4 control-label">Username</label>
      <div class="col-sm-8">
      <label >{{username}}</label>
      </div>
    </div>
    {% endif %}
    <div class="form-group{% if password_form.password.errors or has_error %} has-error{% endif %}">
      <label for="input-password" class="col-sm-4 control-label">Password</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="input-password" name="{{password_form.password.name}}" placeholder="New Password">
        {% for error in password_form.password.errors %}
            <span class='help-block'>{{error}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Recover account</button>
      </div>
    </div>

  </form>
{% endblock %}
