<h4>{{ _('Pending Invitations')}}</h4>
<ul>
{% for invitation in pending_invitations %}
  <li>
    {{ _('<a href="%(invitee_url)s">%(invitee_name)s (#%(invitee_id)s)</a> has been invited by <a href="%(inviter_url)s">%(inviter_name)s (#%(inviter_id)s)</a> on %(invitation_date)s.', invitee_url=url_for('.user_profile', user_id=invitation.user_id), invitee_name=get_user(invitation.user_id).name, invitee_id=invitation.user_id, inviter_url=url_for('.user_profile', user_id=invitation.inviter_id), inviter_name=get_user(invitation.inviter_id).name, inviter_id=invitation.inviter_id, invitation_date=invitation.utc_datetime | babel_format_datetime) }}
  </li>
{% endfor %}
</ul>
