<!-- extend from base layout -->
{% extends "base.html" %}


{% block content %}
<h2 class="text-center">Preferences</h2>
<form class="form-horizontal" method="post" name="form-preference-name-and-email" action="{{ url_for('.user_preferences', user_id=user.id) }}">
    {{ change_user_form.csrf_token() }}
    <div class="form-group {% if change_user_form.name.errors %} has-error{% endif %}">
        <label for="input-username" class="col-sm-4 control-label">Username</label>
        <div class="col-sm-8">
            <input class="form-control" type="text" id="input-username" name="{{change_user_form.name.name}}" value="{{ change_user_form.name.data }}">
        </div>
    </div>
    <div class="form-group{% if change_user_form.email.errors %} has-error{% endif %}">
        <label for="input-email" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
             <input class="form-control" type="text" id="input-email" name="{{change_user_form.email.name}}" value="{{ change_user_form.email.data }}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-9 ">
            <button type="submit" class="btn btn-primary" name="change" value="Change">Change username or email</button>
        </div>
    </div>
</form>
<br><br>


<h2 class="text-center">Authentications Methods</h2>


    <div>
       <table class="table">
           <tr>
               <th>Username / E-Mail</th>
               <th>Authentication Method</th>
               <th></th>
           </tr>
           {% for authentication in authentications %}
           <tr>
               <td>{{authentication.login['login']}}</td>
               <td>{{ {'ldap': 'LDAP', 'email': 'E-Mail', 'other': 'Other'}[authentication.type.name.lower()] }}</td>
               <td>
                   <form class="form-group" {% if authentication_form.login.errors  or error %} has-error{% endif %} method="post" name="form-remove-authentication-methods" action="{{ url_for('.user_preferences', user_id=user.id) }}">
                       {{ authentication_method_form.csrf_token() }}
                       <input class="form-control" type="hidden" name="{{authentication_method_form.id.name}}" value={{authentication.id}}>
                       {% if authentications|length > 1 %}
                          {% if confirmed_authentication_methods > 1 %}
                             <button type="submit" class="btn btn-danger" name="remove">&times;</button>
                          {% else %}
                               {% if authentication.confirmed  %}
                                 <button type="submit" class="btn btn-danger" name="remove" disabled>&times;</button>
                               {% else %}
                                 <button type="submit" class="btn btn-danger" name="remove">&times;</button>
                               {% endif %}
                          {% endif %}
                       {% else %}
                         <button type="submit" class="btn btn-danger" name="remove" disabled>&times;</button>
                       {% endif %}
                       {% if error %} <span class='help-block'>{{error}} </span> {%endif%}
                   </form>
              </td>
           </tr>
           {% endfor %}
       </table>
    </div>
<br><br>

<h3 class="text-center">Add Authentication Method</h3>
<br>
<form class="form-horizontal" id="form-add-authentication-methods" method="post" name="form-add-authentication-methods" action="{{ url_for('.user_preferences', user_id=user.id) }}">
    {{ authentication_form.csrf_token() }}
    <div class="form-group{% if authentication_form.login.errors  or error_add %} has-error{% endif %}">
        <label for="input-login" class="col-sm-4 control-label">Login</label>
        <div class="col-sm-8">
            <input class="form-control" type="text" id="input-login" name="login"  placeholder="Username / Email" {% if authentication_form.login.data %}value="{{ authentication_form.login.data }}"{% endif %}>
            {% if error_add %} <span class='help-block'>{{error_add}} </span> {%endif%}
            {% if error %} <span class='help-block'>{{error}} </span> {%endif%}
        </div>
    </div>
    <div class="form-group{% if authentication_form.password.errors%} has-error {% endif %}">
        <label for="input-password" class="col-sm-4 control-label">Password</label>
        <div class="col-sm-8">
             <input class="form-control" type="password" id="input-password" name="password"  placeholder="Password">
            {% if authentication_form.password.errors %}
             <span class='help-block'>The password must be of minimum 3 characters.</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Authentication Method</label>
        <div class="col-sm-8">
          <select class="form-control selectpicker" name="{{ authentication_form.authentication_method.name }}">
          {% for option in authentication_form.authentication_method.choices %}
            {% if authentication_form.authentication_method.data == option[0] %}
              <option value="{{ option[0] }}" selected="selected">{{ option[1] }}</option>
            {% else %}
              <option value="{{ option[0] }}">{{ option[1] }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-9 ">
            <button type="submit" class="btn btn-primary" name="add" value="Add">Add</button>
        </div>
    </div>
</form>
{% endblock %}