{% extends "base.html" %}

{% block title %}User #{{ user.id }}: {{ user.name }} — {{ service_name }}{% endblock %}

{% block content %}
<h1>User Profile</h1>
<dl class="dl-horizontal">
  <dt>User ID</dt>
  <dd>#{{ user.id }}</dd>
  <dt>Name</dt>
  <dd>{{ user.name }}
    {% if user.type.name.lower() == 'other' %}<span class="label label-default" data-toggle="tooltip" data-placement="top" title="Bot users are meant for the automation of object creation and other tasks.">bot</span>{% endif %}
    {% if user.is_readonly %} <span class="label label-default" data-toggle="tooltip" data-placement="top" title="Accounts marked as read only are unable to create or change entries in {{ service_name }}.">read only</span>{% endif %}
    {% if user.is_hidden %} <span class="label label-default" data-toggle="tooltip" data-placement="top" title="Accounts marked as hidden will not be shown in user lists.">hidden</span>{% endif %}
    {% if not user.is_active %} <span class="label label-default" data-toggle="tooltip" data-placement="top" title="Deactivated accounts cannot be used until they are activated again.">deactivated</span>{% endif %}
  </dd>
  <dt>ORCID iD</dt>
  <dd>
    {% if user.orcid %}
      <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/{{ user.orcid }}" href="https://orcid.org/{{ user.orcid }}" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="{{ url_for('static', filename='img/orcid_16x16.png') }}" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/{{ user.orcid }}</a></div>
    {% else %}
      &mdash;
    {% endif %}
  </dd>
  <dt>Affiliation</dt>
  <dd>
    {% if user.affiliation %}
      {{ user.affiliation }}
    {% else %}
      &mdash;
    {% endif %}
  </dd>
  <dt>Objects</dt>
  <dd><a href="{{ url_for('.objects', user=user.id) }}">View</a></dd>
</dl>
  {% if user_read_only_form %}
  <form method="post" action="{{ url_for('.user_profile', user_id=user.id) }}" style="display: inline">
    {{ user_read_only_form.hidden_tag() }}
    <input type="hidden" value="toggle_read_only" name="{{ user_read_only_form.action.name }}" />
    <input type="checkbox" {% if user_read_only_form.should_be_read_only.default %}checked="checked"{% endif %} name="{{ user_read_only_form.should_be_read_only.name }}" style="display: none"/>
    <button type="submit" class="btn btn-default" style="width: 12em">
      {% if user_read_only_form.should_be_read_only.default %}Mark{% else %}Unmark{% endif %} as read only
    </button>
  </form>
  {% endif %}
  {% if user_hidden_form %}
  <form method="post" action="{{ url_for('.user_profile', user_id=user.id) }}" style="display: inline">
    {{ user_hidden_form.hidden_tag() }}
    <input type="hidden" value="toggle_hidden" name="{{ user_hidden_form.action.name }}" />
    <input type="checkbox" {% if user_hidden_form.should_be_hidden.default %}checked="checked"{% endif %} name="{{ user_hidden_form.should_be_hidden.name }}" style="display: none"/>
    <button type="submit" class="btn btn-default" style="width: 12em">
      {% if user_hidden_form.should_be_hidden.default %}Mark{% else %}Unmark{% endif %} as hidden
    </button>
  </form>
  {% endif %}
  {% if user_active_form %}
  <form method="post" action="{{ url_for('.user_profile', user_id=user.id) }}" style="display: inline">
    {{ user_hidden_form.hidden_tag() }}
    <input type="hidden" value="toggle_active" name="{{ user_active_form.action.name }}" />
    <input type="checkbox" {% if user_active_form.should_be_active.default %}checked="checked"{% endif %} name="{{ user_active_form.should_be_active.name }}" style="display: none"/>
    <button type="submit" class="btn btn-default" style="width: 12em">
      {% if user_active_form.should_be_active.default %}Activate{% else %}Deactivate{% endif %} account
    </button>
  </form>
  {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
