{% extends "base.html" %}

{% block title %}Projects — {{ service_name }}{% endblock %}

{% block content %}
  <h1>Projects</h1>
  <p class="text-muted">A project is a hierarchy of users which share the object permissions granted to it, limited by the permissions each member has for the project itself. <a href="https://scientific-it-systems.iffgit.fz-juelich.de/SampleDB/user_guide/projects.html">Read more.</a></p>
  {% if not current_user.is_readonly %}
  <p>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createProjectModal">Create Project</button>
  </p>
  {% endif %}
  <ul id="projects_list">
    {% for project in projects %}
    <li><a href="{{ url_for('.project', project_id=project.id) }}">{{ project.name }}</a>{% if project.permissions != Permissions.NONE %} <span class="label label-default">Member
    {% if project.permissions == Permissions.READ %}(Read){% endif %}
    {% if project.permissions == Permissions.WRITE %}(Write){% endif %}
    {% if project.permissions == Permissions.GRANT %}(Grant){% endif %}
    </span>{% endif %}</li>
    {% endfor %}
  </ul>
  {% if not current_user.is_readonly %}
  <div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createProjectModalLabel">Create Project</h4>
        </div>
        <form method="post" action="{{ request.url }}" class="form-horizontal">
          {{ create_project_form.csrf_token() }}
          <div class="modal-body">
            <div class="form-group {% if create_project_form.name.errors %}has-error{% endif %}">
              <label for="createProjectName" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="createProjectName" name="{{ create_project_form.name.name }}" placeholder="Name" value="{{ create_project_form.name.data }}">
                {% for error_message in create_project_form.name.errors %}<span class="help-block">{{ error_message }}</span>{% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label for="createProjectDescription" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" style="resize: vertical; min-height:2.5em;" id="createProjectDescription" name="{{ create_project_form.description.name }}" placeholder="Description">{{ create_project_form.description.data }}</textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name="create" value="create">Create Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  {% if show_create_form %}
  <script>
    $(document).ready(function() {
      var create_modal = $('#createProjectModal');
      create_modal.removeClass('fade');
      create_modal.modal('show');
      create_modal.addClass('fade');
    });
  </script>
  {% endif %}
{% endblock %}