{% extends "base.html" %}

{% block title %}Project #{{ project.id }}: {{ project.name }} — {{ service_name }}{% endblock %}

{% block stylesheets %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" />
{% endblock %}

{% block content %}
  <h3>Project #{{ project.id }}: {{ project.name }}</h3>
  <p>{{ project.description }}</p>
  {% if parent_project_ids %}
    This project is a part of
      {% if parent_project_ids | length > 2 %}
      {% for project_id in parent_project_ids[:-2] %}
        {% with project = get_project(project_id) %}
          <a href="{{ url_for('.project', project_id=project_id) }}">{{ project.name }}</a>,
        {% endwith %}
      {% endfor %}
      {% endif %}
      {% if parent_project_ids | length > 1 %}
      {% with project = get_project(parent_project_ids[-2]) %}
        <a href="{{ url_for('.project', project_id=parent_project_ids[-2]) }}">{{ project.name }}</a> and
      {% endwith %}
      {% endif %}
      {% if parent_project_ids | length > 0 %}
      {% with project = get_project(parent_project_ids[-1]) %}
        <a href="{{ url_for('.project', project_id=parent_project_ids[-1]) }}">{{ project.name }}</a>.
      {% endwith %}
      {% endif %}
  {% endif %}
  {% if child_project_ids %}
    <h4>Subprojects</h4>
    <ul>
      {% for project_id in child_project_ids %}
        {% with project = get_project(project_id) %}
          <li><a href="{{ url_for('.project', project_id=project_id) }}">{{ project.name }}</a>{% if child_project_ids_can_add_to_parent.get(project_id, False) %} <span class="label label-default"><span data-toggle="tooltip" data-placement="bottom" title="Users of this subproject may invite other users to its parent project.">GRANT <i class="fa fa-question-circle" aria-hidden="true"></i></span></span>{% endif %}</li>
        {% endwith %}
      {% endfor %}
    </ul>
  {% endif %}
  <h4>Members</h4>
  <ul>
    {% for user_id in project_member_user_ids_and_permissions %}
      {% with user = get_user(user_id) %}
        <li><i class="fa fa-user" aria-hidden="true"></i> <a href="{{ url_for('.user_profile', user_id=user_id) }}">{{ user.name }} (#{{ user.id }})</a>
        {% if remove_project_member_form and user_id != current_user.id %}
        <form method="post" style="display: inline;margin-left:0.5em" action="{{ url_for('.project', project_id=project.id) }}" id="removeProjectMember{{ user_id }}Form">
          {{ remove_project_member_form.csrf_token() }}
          <button type="submit" class="btn btn-danger btn-xs" name="remove_member" value="{{ user_id }}">Remove</button>
        </form>
        {% endif %}
        </li>
      {% endwith %}
    {% endfor %}
    {% for group_id in project_member_group_ids_and_permissions %}
      {% with group = get_group(group_id) %}
        <li><i class="fa fa-users" aria-hidden="true"></i> <a href="{{ url_for('.group', group_id=group_id) }}">{{ group.name }}</a>
        {% if remove_project_group_form %}
        <form method="post" style="display: inline;margin-left:0.5em" action="{{ url_for('.project', project_id=project.id) }}" id="removeProjectGroup{{ group_id }}Form">
          {{ remove_project_group_form.csrf_token() }}
          <button type="submit" class="btn btn-danger btn-xs" name="remove_group" value="{{ group_id }}">Remove</button>
        </form>
        {% endif %}</li>
      {% endwith %}
    {% endfor %}
  </ul>
  {% if show_invitation_log %}
    {% with all_invitations = project_invitations %}
      {% include "invitation_log.html" %}
    {% endwith %}
  {% elif project_invitations %}
    {% with pending_invitations = project_invitations %}
      {% include "pending_invitations.html" %}
    {% endwith %}
  {% endif %}
  {% if show_objects_link %}
    <a href="{{ url_for('.objects', project=project.id) }}" class="btn btn-primary" >View Objects</a>
  {% endif %}
  {% if not current_user.is_readonly %}
  {% if edit_project_form %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProjectModal">Edit Project</button>
  {% endif %}
  {% if add_subproject_form %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSubprojectModal">Add Subproject</button>
  {% endif %}
  {% if remove_subproject_form %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#removeSubprojectModal">Remove Subproject</button>
  {% endif %}
  {% if invite_user_form %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteUserModal">Invite User</button>
  {% endif %}
  {% if invite_group_form %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteGroupModal">Add Group</button>
  {% endif %}
  {% if user_may_edit_permissions %}
  <a href="{{ url_for('.project_permissions', project_id=project.id) }}" class="btn btn-primary" >Edit Permissions</a>
  {% endif %}
  {% endif %}
  {% if leave_project_form %}
  <form method="post" style="display: inline" action="{{ url_for('.project', project_id=project.id) }}" id="leaveProjectForm">
    {{ leave_project_form.csrf_token() }}
    <button type="submit" class="btn btn-danger" name="leave" value="leave">Leave Project</button>
  </form>
  {% endif %}
  {% if not current_user.is_readonly %}
  {% if delete_project_form %}
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProjectModal">Delete Project</button>
  {% endif %}
  {% endif %}

  {% if edit_project_form %}
  <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editProjectModalLabel">Edit Project</h4>
        </div>
        <form method="post" action="{{ url_for('.project', project_id=project.id) }}" class="form-horizontal">
          {{ edit_project_form.csrf_token() }}
          <div class="modal-body">
            <div class="form-group {% if edit_project_form.name.errors %}has-error{% endif %}">
              <label for="editProjectName" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="editProjectName" name="{{ edit_project_form.name.name }}" placeholder="Name" value="{{ edit_project_form.name.data }}">
                {% for error_message in edit_project_form.name.errors %}<span class="help-block">{{ error_message }}</span>{% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label for="editProjectDescription" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" style="resize: vertical; min-height:2.5em;" id="editProjectDescription" name="{{ edit_project_form.description.name }}" placeholder="Description">{{ edit_project_form.description.data }}</textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name="edit" value="edit">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

  {% if invite_user_form %}
  <div class="modal fade" id="inviteUserModal" tabindex="-1" role="dialog" aria-labelledby="inviteUserModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="inviteUserModalLabel">Invite User</h4>
        </div>
        <form method="post" action="{{ url_for('.project', project_id=project.id) }}" class="form-horizontal">
          {{ invite_user_form.csrf_token() }}
          <div class="modal-body">
            <div class="form-group">
              <label for="inviteUserId" class="col-sm-2 control-label">User</label>
              <div class="col-sm-10">
                <select class="selectpicker" name="{{ invite_user_form.user_id.name }}" id="inviteUserId" data-width="100%" data-live-search="true">
                {% for user in invitable_user_list | sort(attribute='name') %}
                  <option value="{{ user.id }}" {% if invite_user_form.user_id.data == user_id %}selected="selected"{% endif %}>{{ user.name }} (#{{ user.id }})</option>
                {% endfor %}
                </select>
              </div>
            </div>
            {% if invite_user_form.other_project_ids %}
            <strong>Invite user to parent projects:</strong>
            {% endif %}
            {% for other_project_id_form in invite_user_form.other_project_ids %}
              {% set parent_project = get_project(other_project_id_form.project_id.data | int) %}
              <div class="row">
              <div class="col-sm-2">
                <div class="checkbox text-right">
                  <input type="checkbox" name="{{ other_project_id_form.add_user.name }}" id="{{ other_project_id_form.add_user.id }}" />
                </div>
              </div>
              {{ other_project_id_form.csrf_token() }}
              <input type="hidden" name="{{ other_project_id_form.project_id.name }}" value="{{ parent_project.id }}" />
              <label for="{{ other_project_id_form.add_user.id }}" class="col-sm-10 control-label" style="text-align: left">{{ parent_project.name }} (#{{ parent_project.id }})</label>
            </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name="add_user" value="add_user">Invite User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

  {% if invite_group_form %}
  <div class="modal fade" id="inviteGroupModal" tabindex="-1" role="dialog" aria-labelledby="inviteGroupModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="inviteFroupModalLabel">Add Group</h4>
        </div>
        <form method="post" action="{{ url_for('.project', project_id=project.id) }}" class="form-horizontal">
          {{ invite_group_form.csrf_token() }}
          <div class="modal-body">
            <div class="form-group">
              <label for="inviteGroupId" class="col-sm-2 control-label">Group</label>
              <div class="col-sm-10">
                <select class="selectpicker" name="{{ invite_group_form.group_id.name }}" id="inviteGroupId" data-width="100%" data-live-search="true">
                {% for group in invitable_group_list | sort(attribute='name') %}
                  <option value="{{ group.id }}" {% if invite_group_form.group_id.data == group_id %}selected="selected"{% endif %}>{{ group.name }} (#{{ group.id }})</option>
                {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name="add_group" value="add_group">Add Group</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

  {% if add_subproject_form %}
  <div class="modal fade" id="addSubprojectModal" tabindex="-1" role="dialog" aria-labelledby="addSubprojectModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addSubprojectModalLabel">Add Subproject</h4>
        </div>
        <form method="post" action="{{ url_for('.project', project_id=project.id) }}" class="form-horizontal" id="addSubprojectForm">
          {{ add_subproject_form.csrf_token() }}
          <div class="modal-body">
            <div class="form-group">
              <label for="addSubprojectId" class="col-sm-2 control-label">Project</label>
              <div class="col-sm-10">
                <select class="selectpicker" name="{{ add_subproject_form.child_project_id.name }}" id="addSubprojectId" data-width="100%">
                {% for project in addable_projects %}
                    <option value="{{ project.id }}" {% if add_subproject_form.child_project_id.data == project.id %}selected="selected"{% endif %}>{{ project.name }} (#{{ project.id }})</option>
                {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="childCanAddUsersToParentId" class="col-sm-11 control-label">Subproject may add users to this project</label>
              <div class="col-sm-1 checkbox">
                <input type="checkbox" name="{{ add_subproject_form.child_can_add_users_to_parent.name }}" id="childCanAddUsersToParentId" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name="add_subproject" value="add_subproject">Add Subproject</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

  {% if remove_subproject_form %}
  <div class="modal fade" id="removeSubprojectModal" tabindex="-1" role="dialog" aria-labelledby="removeSubprojectModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="removeSubprojectModalLabel">Remove Subproject</h4>
        </div>
        <form method="post" action="{{ url_for('.project', project_id=project.id) }}" class="form-horizontal" id="removeSubprojectForm">
          {{ remove_subproject_form.csrf_token() }}
          <div class="modal-body">
            <div class="form-group">
              <label for="addSubprojectId" class="col-sm-2 control-label">Project</label>
              <div class="col-sm-10">
                <select class="selectpicker" name="{{ remove_subproject_form.child_project_id.name }}" id="removeSubprojectId" data-width="100%">
                {% for project_id in child_project_ids %}
                  {% with project = get_project(project_id) %}
                    <option value="{{ project_id }}" {% if remove_subproject_form.child_project_id.data == project_id %}selected="selected"{% endif %}>{{ project.name }} (#{{ project.id }})</option>
                  {% endwith %}
                {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name="remove_subproject" value="remove_subproject">Remove Subproject</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

  {% if delete_project_form %}
  <div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteProjectModalLabel">Delete Project</h4>
        </div>
        <form method="post" action="{{ url_for('.project', project_id=project.id) }}" class="form-horizontal" id="deleteProjectForm">
          {{ delete_project_form.csrf_token() }}
          <div class="modal-body">
            Are you certain you want to delete this project?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger" name="delete" value="delete">Delete Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
  {% if show_edit_form %}
  <script>
    $(document).ready(function() {
      var edit_modal = $('#editProjectModal');
      edit_modal.removeClass('fade');
      edit_modal.modal('show');
      edit_modal.addClass('fade');
    });
  </script>
  {% endif %}
{% endblock %}