{% extends "base.html" %}

{% block title %}Account Recovery — {{ service_name }}{% endblock %}

{% block content %}
{% if not current_user.is_authenticated %}
  <div class="jumbotron">
    <h2>Account Recovery Email sent to {{email}}</h2>
    <p>If you have an account with this email address, you will receive an email in the next 30 minutes. Please follow the instructions to regain access to your account.<p>
    <p>If this email does not arrive within 30 minutes, please check your junk mail folder and <a href="mailto:{{ contact_email }}?subject=Account Recovery for {{ email }}">contact an administator</a>.</p>
  </div>
{% endif %}
{% endblock %}
