
<h1 class="text-center">Recovery Request</h1>
<div class="text-center">We received an account account recovery request for {{email}}. If you did not initiate this account recovery request, you can simply ignore this email.</div>
{% if datalist|length > 0 %}
<div class="text-center">If you initiated this request, click one of the following links to reset your password</div>
  <h3 class="text-center">You have the following authentication methods:</h3>
  {% for data in datalist%}
    {% if data['type'] == "LDAP" %}
      <div class="text-center"> You can use the PGI/JCNS account {{data['login']}} to log in to your account.</div>
      <div class="text-center"> To set a new password for your PGI/JCNS account, please <a href="mailto:d.henkel@fz-juelich.de?subject=Account Recovery for {{ email }}">contact an administrator</a>.</div><br>
    {% else %}
      <div class="text-center"> You can use {{data['login']}} to log in to your account. Click this link to reset the password:</div>
      <div class="text-center"><a href="{{data['confirm_url']}}" >{{data['confirm_url']}}</a></div><br><br>
    {% endif %}
  {% endfor %}
{% else %}
  <div class="text-center">There is no authentication method for {{email}} to log in. Please <a href="mailto:d.henkel@fz-juelich.de?subject=Account Recovery for {{ email }}">contact an administrator</a> to regain access to your account.</div>
{% endif %}

