{% extends "base.html" %}

{% block title %}Account Recovery — {{ service_name }}{% endblock %}

{% block content %}
  <h2 class="text-center">Forgot your password?</h2>
  <p class="text-center">Enter your email address and we will send you an email to reset your password.</p>
  <form class="form-horizontal" method="post" id="form-request-password-reset">
    {{ request_password_reset_form.csrf_token() }}
    <div  class="form-group{% if request_password_reset_form.email.errors or has_error %} has-error{% endif %}">
      <label for="input-email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-6">
        <input class=form-control type="text" id="input-email" name="email" placeholder="Email">
        {% if has_error or request_password_reset_form.email.errors%}
          <span class='help-block'>Please enter a valid email address.</span>
        {% endif %}
      </div>
    </div><br>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Send Recovery Email</button>
      </div>
    </div>
  </form>
{% endblock %}