{% extends "base.html" %}

{% block title %}Users — {{ service_name }}{% endblock %}

{% block content %}
<h1>Users</h1>

{% if current_user.is_admin %}
  <a href="{{ url_for('.create_other_user') }}" class="btn btn-default">Create Bot User</a>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Profile</th>
      <th scope="col">Objects</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ user.id}}</th>
      <td>{{ user.name}}{% if user.type.name.lower() == 'other' %} <span class="label label-default" data-toggle="tooltip" data-placement="top" title="Bot users are meant for the automation of object creation and other tasks.">bot</span>{% endif %}{% if user.is_readonly %} <span class="label label-default" data-toggle="tooltip" data-placement="top" title="Accounts can be marked as read only if they should not create or change entries in SampleDB.">read only</span>{% endif %}{% if user.is_hidden %} <span class="label label-default" data-toggle="tooltip" data-placement="top" title="Accounts marked as hidden will not be shown in user lists.">hidden</span>{% endif %}</td>
      <td><a href="{{ url_for('.user_profile', user_id=user.id) }}">View</a></td>
      <td><a href="{{ url_for('.objects', user=user.id) }}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
