{% extends "base.html" %}

{% block content %}
<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Profile</th>
      <th scope="col">Objects</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ user.id}}</th>
      <td>{{ user.name}}{% if user.type.name.lower() == 'other' %} <span class="label label-default" data-toggle="tooltip" data-placement="top" title="Bot users are meant for the automation of object creation and other tasks.">bot</span>{% endif %}</td>
      <td><a href="{{ url_for('.user_profile', user_id=user.id) }}">View</a></td>
      <td><a href="{{ url_for('.objects', user=user.id) }}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
