<!-- extend from base layout -->
{% extends "base_old.html" %}

{% block content %}
  <h1>New User Form</h1>
  <form class="form-group" action="" method="post" name="register">
      {{ form.hidden_tag() }}
      <p>
          Add new user:<br><br>
      </p>
      <p >{{ form.name.label }}: {{ form.name(size=50) }}</p>
      {% if form.name.errors %}
        <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
      {% endif %}
      <p >{{ form.email.label }}: {{ form.email(size=50) }}</p>
      {% if form.email.errors %}
        <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
      {% endif %}
      <p >{{ form.password.label }}: {{ form.password(size=50)}}</p>
      {% if form.password.errors %}
        <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
      {% endif %}
      <p >{{ form.login.label }}: {{ form.login(size=50) }}</p>
      {% if form.login.errors %}
        <ul class="errors">{% for error in form.login.errors %}<li>{{ error }}</li>{% endfor %}</ul>
      {% endif %}
     <p>
             Usertype:
             {{form.type()}}
      </p>
      <p>
             Authentication Method:
             {{form.authentication_method()}}
      </p>

      <p><input type="submit" value="Add user"></p>
  </form>
{% endblock %}