{% if data and data.user_id %}
  {% if "component_uuid" in data and data.component_uuid is not none and data.component_uuid != config['FEDERATION_UUID'] %}
    {% set component_uuid = data.component_uuid %}
  {% else %}
    {% set component_uuid = none %}
  {% endif %}
  {% with component_id = get_component_id_by_uuid(component_uuid) %}
    {% with referenced_user = get_user(data.user_id, component_id) %}
        {% if not referenced_user is none %}
      <a href="{{ url_for('frontend.user_profile', user_id=referenced_user.id, _external=True) }}">{{ referenced_user.get_name() }}</a>
        {{ import_information_symbol(referenced_user, text=true) }}
        {% elif component_uuid is not none %}
          {{ _('User') }} #{{ data.user_id }}
          {{ import_information_symbol(FederationUserRef(fed_id=data.user_id, component_uuid=component_uuid), text=true) }}
        {% else %}
      <a href="{{ url_for('frontend.user_profile', user_id=referenced_user.id, _external=True) }}">{{ _('User') }} #{{ user.id }}</a>
        {% endif %}
    {% endwith %}
  {% endwith %}
{% else %}
  &mdash;
{% endif %}
