{% extends "base.html" %}

{% block title %}{{ _('User Alias Settings') }} — {{ service_name }}{% endblock %}

{% block content %}
<h1>{{ _('User Alias Settings') }}</h1>
<p class="help-block">{{ _('When an object is shared by %(service_name)s with other databases, by default no information about you except for your user ID will be shared. You can define a user alias for each database and control what information may be shared.', service_name=service_name) }}</p>
{% if aliases %}
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="fit">{{ _('Database') }}</th>
          <th scope="col" class="fit"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for alias in aliases %}
        <tr>
          <td rowspan="5" class="fit">
              <a href="{{ url_for('.component', component_id=alias.component.id) }}">{{ alias.component.get_name() }}</a>
              {% if edit_alias_form %}
              <div style="margin-top: 1em;"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#editAliasModal" aria-label="{{ _('Edit') }}" onclick="setEditAliasForm({{ alias.component.id }});" style="min-width: 100%">{{ _('Edit') }}</button></div>
              {% endif %}
              {% if delete_alias_form %}
              <div style="margin-top: 1em;">
                <form method="post" action="{{ url_for('.user_alias') }}">
                  {{ delete_alias_form.hidden_tag() }}
                  <input type="hidden" name="{{ delete_alias_form.component.name }}" value="{{ alias.component.id }}" />
                  <button type="submit" class="btn btn-danger" aria-label="{{ _('Edit') }}" style="min-width: 100%" name="delete">{{ _('Delete') }}</button>
                </form>
              </div>
              {% endif %}
          </td>
          <th class="text-right fit">{{ _('Name') }}</th>
          <td>{% if alias.name is none %}&mdash;{% else %}{{ alias.name }}{% endif %}</td>
        </tr>
        <tr>
          <th class="text-right fit">{{ _('E-Mail') }}</th>
          <td>{% if alias.email is none %}&mdash;{% else %}{{ alias.email }}{% endif %}</td>
        </tr>
        <tr>
          <th class="text-right fit">ORCID iD</th>
          <td>
          {% if alias.orcid is none %}
            &mdash;
          {% else %}
            <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/{{ alias.orcid }}" href="https://orcid.org/{{ alias.orcid }}" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="{{ url_for('static', filename='img/orcid_16x16.png') }}" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/{{ alias.orcid }}</a></div>
          {% endif %}
          </td>
        </tr>
        <tr>
          <th class="text-right fit">{{ _('Affiliation') }}</th>
          <td>{% if alias.affiliation is none %}&mdash;{% else %}{{ alias.affiliation }}{% endif %}</td>
        </tr>
        <tr>
          <th class="text-right fit">{{ _('Role') }}</th>
          <td>{% if alias.role is none %}&mdash;{% else %}{{ alias.role }}{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
  {% if add_alias_form %}
  <h2>{{ _('Add User Alias') }}</h2>
  <form class="form-horizontal" method="post" name="add-alias-form" action="{{ url_for('.user_alias') }}">
    {{ add_alias_form.csrf_token() }}
    <div class="form-group {% if add_alias_form.component.errors %} has-error{% endif %}">
      <label for="input-component" class="col-sm-4 control-label">{{ _('Database') }}</label>
      <div class="col-sm-8">
        <select class="selectpicker" id="input-component" name="{{ add_alias_form.component.name }}" data-width="100%" data-live-search="true">
          {% for component in addable_components %}
            <option value="{{ component.id }}">{{ component.get_name() }}</option>
          {% endfor %}
        </select>
        {% if add_alias_form.component.errors %}
          <span class="help-block">{{ add_alias_form.component.errors[0] }}</span>
        {% endif %}
      </div>
    </div>
    <div class="form-group {% if add_alias_form.name.errors %} has-error{% endif %}">
      <label for="input-username-add" class="col-sm-4 control-label">{{ _('Name') }}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" id="input-username-add" name="{{add_alias_form.name.name}}" value="{{ add_alias_form.name.data }}" placeholder="{{ _('Name') }}">
        {% if add_alias_form.name.errors %}
          <span class="help-block">{{ add_alias_form.name.errors[0] }}</span>
        {% elif config['ENFORCE_SPLIT_NAMES'] and current_user.type.name.lower() == "person" and (add_alias_form.name.data is none or ', ' not in add_alias_form.name.data[1:-1]) %}
          <span class="help-block">{{ _("Please enter your name as: surname, given names.") }}</span>
        {% endif %}
      </div>
    </div>
    <div class="form-group{% if add_alias_form.email.errors %} has-error{% endif %}">
      <label for="input-email-add" class="col-sm-4 control-label">{{ _('Email') }}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" id="input-email-add" name="{{add_alias_form.email.name}}" value="{{ add_alias_form.email.data }}" placeholder="{{ _('Email') }}">
        {% if add_alias_form.email.errors %}
          <span class="help-block">{{ _('Please enter your email address.') }}</span>
        {% endif %}
      </div>
    </div>
    <div class="form-group {% if add_alias_form.orcid.errors %} has-error{% endif %}">
      <label for="input-orcid-add" class="col-sm-4 control-label">ORCID iD</label>
      <div class="col-sm-8">
      <div class="input-group">
        <span class="input-group-addon">https://orcid.org/</span>
        <input class="form-control" type="text" id="input-orcid-add" name="{{add_alias_form.orcid.name}}" value="{{ add_alias_form.orcid.data or '' }}" placeholder="xxxx-xxxx-xxxx-xxxx">
      </div>
      {% if add_alias_form.orcid.errors %}
        <span class="help-block">{{ _('Please enter your ORCID iD or leave this field blank.') }}</span>
      {% endif %}
      </div>
    </div>
    <div class="form-group {% if add_alias_form.affiliation.errors %} has-error{% endif %}">
      <label for="input-affiliation-add" class="col-sm-4 control-label">{{ _('Affiliation') }}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" id="input-affiliation-add" name="{{add_alias_form.affiliation.name}}" value="{{ add_alias_form.affiliation.data or ''}}" placeholder="{{ _('Affiliation, e.g. your institute, company or department') }}">
        {% if add_alias_form.affiliation.errors %}
          <span class="help-block">{{ _('Please enter your affiliation or leave this field blank.') }}</span>
        {% endif %}
      </div>
    </div>
    <div class="form-group {% if add_alias_form.role.errors %} has-error{% endif %}">
      <label for="input-role-add" class="col-sm-4 control-label">{{ _('Role') }}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" id="input-role-add" name="{{add_alias_form.role.name}}" value="{{ add_alias_form.role.data or ''}}" placeholder="{{ _('Role, e.g. PhD student, principal investigator or technician') }}">
        {% if add_alias_form.role.errors %}
          <span class="help-block">{{ _('Please enter your role or leave this field blank.') }}</span>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <hr class="col-md-offset-4 col-md-8" />
    </div>
    <div class="form-group">
      <label for="input-copy-from-add" class="col-sm-4 control-label">{{ _('Copy from') }}</label>
      <div class="col-sm-8 div-copy-from">
        <select class="selectpicker" id="input-copy-from-add" data-width="100%">
          <option value=-1 selected>{{ _('user profile') }}</option>
          {% for alias in aliases %}
          <option value={{ alias.component_id }}>{{ alias.component.get_name() }}</option>
          {% endfor %}
        </select><button type="button" class="btn btn-default" onclick="copyAliasFromInput('-add');" aria-label="{{ _('Copy') }}" name="copy" value="Copy"><span aria-hidden="true">{{ _('Copy') }}</span></button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-9 col-md-3">
        <button type="submit" class="btn btn-primary pull-right" name="add" value="Add" style="min-width: 100%">{{ _('Add') }}</button>
      </div>
    </div>
  </form>
  {% endif %}
  {% if edit_alias_form %}
    <div class="modal fade" id="editAliasModal" tabindex="-1" role="dialog" aria-labelledby="editAliasModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editAliasModalLabel">{{ _('Edit Alias for %(component_name)s', component_name='') }}</h4>
          </div>
          <form method="post" action="{{ url_for('.user_alias') }}" class="form-horizontal">
            {{ edit_alias_form.csrf_token() }}
            <div class="modal-body">
              <input class="form-control" type="hidden" name="{{ edit_alias_form.component.name }}" id="input-component-edit">
              <div class="form-group {% if edit_alias_form.name.errors %} has-error{% endif %}">
                <label for="input-username-edit" class="col-sm-4 control-label">{{ _('Name') }}</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="input-username-edit" name="{{edit_alias_form.name.name}}" value="{{ edit_alias_form.name.data }}" placeholder="{{ _('Name') }}">
                  {% if edit_alias_form.name.errors %}
                    <span class="help-block">{{ edit_alias_form.name.errors[0] }}</span>
                  {% elif config['ENFORCE_SPLIT_NAMES'] and current_user.type.name.lower() == "person" and (edit_alias_form.name.data is none or ', ' not in edit_alias_form.name.data[1:-1]) %}
                    <span class="help-block">{{ _("Please enter your name as: surname, given names.") }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="form-group{% if edit_alias_form.email.errors %} has-error{% endif %}">
                <label for="input-email-edit" class="col-sm-4 control-label">{{ _('Email') }}</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="input-email-edit" name="{{edit_alias_form.email.name}}" value="{{ edit_alias_form.email.data }}" placeholder="{{ _('Email') }}">
                  {% if edit_alias_form.email.errors %}
                    <span class="help-block">{{ _('Please enter your email address.') }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="form-group {% if edit_alias_form.orcid.errors %} has-error{% endif %}">
                <label for="input-orcid-edit" class="col-sm-4 control-label">ORCID iD</label>
                <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">https://orcid.org/</span>
                  <input class="form-control" type="text" id="input-orcid-edit" name="{{edit_alias_form.orcid.name}}" value="{{ edit_alias_form.orcid.data or '' }}" placeholder="xxxx-xxxx-xxxx-xxxx">
                </div>
                {% if edit_alias_form.orcid.errors %}
                  <span class="help-block">{{ _('Please enter your ORCID iD or leave this field blank.') }}</span>
                {% endif %}
                </div>
              </div>
              <div class="form-group {% if edit_alias_form.affiliation.errors %} has-error{% endif %}">
                <label for="input-affiliation-edit" class="col-sm-4 control-label">{{ _('Affiliation') }}</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="input-affiliation-edit" name="{{edit_alias_form.affiliation.name}}" value="{{ edit_alias_form.affiliation.data or ''}}" placeholder="{{ _('Affiliation, e.g. your institute, company or department') }}">
                  {% if edit_alias_form.affiliation.errors %}
                    <span class="help-block">{{ _('Please enter your affiliation or leave this field blank.') }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="form-group {% if edit_alias_form.role.errors %} has-error{% endif %}">
                <label for="input-role-edit" class="col-sm-4 control-label">{{ _('Role') }}</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="input-role-edit" name="{{edit_alias_form.role.name}}" value="{{ edit_alias_form.role.data or ''}}" placeholder="{{ _('Role, e.g. PhD student, principal investigator or technician') }}">
                  {% if edit_alias_form.role.errors %}
                    <span class="help-block">{{ _('Please enter your role or leave this field blank.') }}</span>
                  {% endif %}
                </div>
              </div>
              <hr />
              <div class="row">
                <label for="input-copy-from-edit" class="col-sm-4 control-label">{{ _('Copy from') }}</label>
                <div class="col-sm-8 div-copy-from">
                  <select class="selectpicker" id="input-copy-from-edit" data-width="100%">
                    <option value=-1 selected>{{ _('user profile') }}</option>
                    {% for alias in aliases %}
                    <option value={{ alias.component_id }}>{{ alias.component.get_name() }}</option>
                    {% endfor %}
                  </select><button type="button" class="btn btn-default" onclick="copyAliasFromInput('-edit');" aria-label="{{ _('Copy') }}" name="copy" value="Copy"><span aria-hidden="true">{{ _('Copy') }}</span></button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
              <button type="submit" class="btn btn-primary" name="edit" value="edit">{{ _('Save Changes') }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
  <script type="text/javascript">
    var aliases_by_component = {{ aliases_by_component | tojson }};
    var component_names = {{ component_names | tojson }}
    var user_data = {{ user_data | tojson }};
    function setEditAliasForm(component_id) {
      copyAliasFrom(component_id, '-edit');
      $('#editAliasModalLabel').text('{{ _('Edit Alias:') }} ' + component_names[component_id]);
      $('#input-component-edit').val(component_id);
      let copy_from_select = $('#input-copy-from-edit');
      copy_from_select.find('option').prop('disabled', false);
      copy_from_select.find('option[value=' + component_id + ']').prop('disabled', true);
      copy_from_select.selectpicker('val', '-1');
      copy_from_select.selectpicker('refresh');
    }
    function copyAliasFromInput(suffix) {
      copyAliasFrom($('#input-copy-from-edit').val(), suffix);
    }
    function copyAliasFrom(component_id, suffix) {
      if (component_id == null || component_id == -1) {
        $('#input-username' + suffix).val(user_data['name']);
        $('#input-email' + suffix).val(user_data['email']);
        $('#input-orcid' + suffix).val(user_data['orcid']);
        $('#input-affiliation' + suffix).val(user_data['affiliation']);
        $('#input-role' + suffix).val(user_data['role']);
      } else {
        $('#input-username' + suffix).val(aliases_by_component[component_id]['name']);
        $('#input-email' + suffix).val(aliases_by_component[component_id]['email']);
        $('#input-orcid' + suffix).val(aliases_by_component[component_id]['orcid']);
        $('#input-affiliation' + suffix).val(aliases_by_component[component_id]['affiliation']);
        $('#input-role' + suffix).val(aliases_by_component[component_id]['role']);
      }
    }
  </script>
{% endblock %}
{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" />
{% endblock %}