body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
body > #main.container {
    flex: 1;
}
@media only screen and (max-width: 768px) {
    body > #main.container {
        width: 100%;
    }
}
body > footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding-top:0.75em;
}

#form-signin {
    max-width: 600px;
    margin: 3em auto;
}

#form-signin #link-request-password-reset {
    padding-top: 7px;
    min-height:27px;
    text-align: right;
}

#form-request-password-reset {
    max-width: 600px;
    margin: 3em auto;
}

.form-navbar-signout {
    display:block;
    padding:0;
    margin:0;
}
.form-navbar-signout button.btn.btn-link {
    display:block;
    padding:3px 20px;
    margin:0;
    text-decoration:none;
    border:0;
    width:100%;
    color:rgb(51, 51, 51);
    text-align: left;
}
.form-navbar-signout button.btn.btn-link:hover {
    text-decoration:none;
    color:rgb(51, 51, 51);
    background-color:#f7f7f7;

}

.instrument-responsible-users {
    margin: 0 0 10px;
}
.instrument-responsible-users h3 {
    display:inline;
    margin:0;
    padding:0;
    font-size: inherit;
    font-weight: 600;
}
.instrument-responsible-users ul {
    display:inline;
    list-style-type: none;
    padding:0;
}
.instrument-responsible-users li {
    display:inline;
}
.instrument-responsible-users li:after {
    content: ', ';
}
.instrument-responsible-users li:nth-last-child(2):after {
    content: ' and ';
}
.instrument-responsible-users li:last-child:after {
    content: '';
}

.user-activity-log {
    list-style-type: none;
    padding:0;
}
.user-activity-log li time {
    font-weight: 600;
}