{% extends "base.html" %}

{% block title %}Instrument #{{ instrument.id }}: {{ instrument.name }} — {{ service_name }}{% endblock %}

{% block content %}
  <h1>{{ instrument.name }}</h1>
  {% if instrument.description_as_html %}{{ instrument.description_as_html | safe }}{% else %}<p>{{ instrument.description }}</p>{% endif %}
  {% include "instruments/instrument_scientists.html" %}
  {% if not current_user.is_readonly %}
  {% if current_user.is_admin or current_user in instrument.responsible_users %}
    <a href="{{ url_for('.edit_instrument', instrument_id=instrument.id) }}" class="btn btn-default">Edit Instrument</a>
  {% endif %}
  {% endif %}
  {% for action in instrument.actions %}
    <h3><a href="{{ url_for('.action', action_id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a></h3>
    {% if action.description_as_html %}{{ action.description_as_html | safe }}{% else %}<p>{{ action.description }}</p>{% endif %}
    {% if action.type == ActionType.MEASUREMENT %}
      <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Measurements</a>
      {% if not current_user.is_readonly %}
      <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-primary">Perform Measurement</a>
      {% endif %}
    {% elif action.type == ActionType.SIMULATION %}
      <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Simulations</a>
      {% if not current_user.is_readonly %}
      <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-primary">Perform Simulation</a>
      {% endif %}
    {% else %}
      <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Samples</a>
      {% if not current_user.is_readonly %}
      <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-primary">Create Sample</a>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}