{% extends "base.html" %}

{% block content %}
  <h1>{{ instrument.name }}</h1>
  <p>{{ instrument.description }}</p>
  {% include "instruments/instrument_responsible_users.html" %}
  {% for action in instrument.actions %}
    <h3><a href="{{ url_for('.action', action_id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a></h3>
    <p>{{ action.description }}</p>
    {% if action.type == ActionType.MEASUREMENT %}
      <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Measurements</a>
      <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-success">Perform Measurement</a>
    {% elif action.type == ActionType.SIMULATION %}
      <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Simulations</a>
      <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-success">Perform Simulation</a>
    {% else %}
      <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Samples</a>
      <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-success">Create Sample</a>
    {% endif %}
  {% endfor %}
{% endblock %}