.*
!.gitignore
!.gitlab-ci.yml
!.dockerignore
_*
!__init__.py
!__main__.py
ldapaccount.py
local.py
docs/static/img/generated
version.txt
pgdata/
files/
env/
*.mo
sampledb/messages.pot
sampledb/translations/*/LC_MESSAGES/messages.po
pytest.xml
