alabaster==0.7.12
aniso8601==4.0.1
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backports.functools-lru-cache==1.5
bcrypt==3.1.4
beautifulsoup4==4.6.3
blinker==1.4
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cheroot==6.5.2
CherryPy==18.0.1
chromedriver-binary==2.44.0
Click==7.0
coverage==4.5.2
docutils==0.14
Flask==1.0.2
Flask-HTTPAuth==3.2.4
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.7
imagesize==1.1.0
itsdangerous==1.1.0
jaraco.functools==1.20
Jinja2==2.10
jsonschema==2.6.0
ldap3==2.5.1
MarkupSafe==1.1.0
more-itertools==4.3.0
packaging==18.0
Pillow==5.3.0
Pint==0.8.1
pluggy==0.8.0
portend==2.3
psycopg2-binary==2.7.6.1
py==1.7.0
pyasn1==0.4.4
pycparser==2.19
Pygments==2.3.0
pyparsing==2.3.0
pytest==4.0.1
pytest-cov==2.6.0
pytz==2018.7
qrcode==6.0
reportlab==3.5.11
requests==2.20.1
selenium==3.141.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.14
tempora==1.14
urllib3==1.24.1
vcversioner==2.16.0.0
Werkzeug==0.14.1
WTForms==2.2.1
zc.lockfile==1.4
