bcrypt
beautifulsoup4
bleach
CherryPy
email-validator
Flask
Flask-Babel
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-MonitoringDashboard
Flask-SQLAlchemy
Flask-WTF
itsdangerous
jsonschema
kaleido
ldap3
lxml
Markdown
Pillow
Pint
plotly
psycopg2-binary
pygments
pyotp
qrcode
reportlab
requests
SQLAlchemy<2.0
weasyprint
