alabaster==0.7.12
aniso8601==9.0.1
apipkg==1.5
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
backports.functools-lru-cache==1.6.4
bcrypt==3.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
blinker==1.4
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cheroot==8.5.2
CherryPy==18.6.0
chromedriver-binary-auto==0.1.1
click==7.1.2
coverage==5.5
cssselect2==0.4.1
defusedxml==0.7.1
dnspython==2.1.0
docutils==0.17.1
email-validator==1.1.2
execnet==1.8.0
Flask==1.1.2
Flask-Babel==2.0.0
Flask-HTTPAuth==4.3.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
html5lib==1.1
idna==2.10
imagesize==1.2.0
importlib-metadata==4.0.1
iniconfig==1.1.1
itsdangerous==1.1.0
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
Jinja2==2.11.3
jsonschema==3.2.0
kaleido==0.2.1
ldap3==2.9
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
more-itertools==8.7.0
packaging==20.9
Pillow==8.2.0
Pint==0.17
plotly==4.14.3
pluggy==0.13.1
portend==2.7.1
psutil==5.8.0
psycopg2-binary==2.8.6
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
Pygments==2.9.0
pyotp==2.6.0
pyparsing==2.4.7
Pyphen==0.10.0
pyrsistent==0.17.3
pytest==6.2.4
pytest-cov==2.11.1
pytest-forked==1.3.0
pytest-xdist==2.2.1
pytz==2021.1
qrcode==6.1
reportlab==3.5.67
requests==2.25.1
requests-mock==1.9.2
selenium==3.141.0
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==4.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.4.15
tempora==4.0.2
tinycss2==1.1.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
vcversioner==2.16.0.0
wcwidth==0.2.5
WeasyPrint==52.5
webencodings==0.5.1
Werkzeug==1.0.1
WTForms==2.3.3
zc.lockfile==2.0
zipp==3.4.1
