alabaster==0.7.12
aniso8601==8.1.0
apipkg==1.5
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.0
backports.functools-lru-cache==1.6.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.4
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cheroot==8.5.1
CherryPy==18.6.0
chromedriver-binary-auto==0.1
click==7.1.2
coverage==5.3.1
cssselect2==0.4.1
defusedxml==0.6.0
dnspython==2.1.0
docutils==0.16
email-validator==1.1.2
execnet==1.7.1
Flask==1.1.2
Flask-HTTPAuth==4.2.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
html5lib==1.1
idna==2.10
imagesize==1.2.0
importlib-metadata==3.3.0
iniconfig==1.1.1
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.1.0
jaraco.functools==3.1.0
jaraco.text==3.4.0
Jinja2==2.11.2
jsonschema==3.2.0
ldap3==2.8.1
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==1.1.1
more-itertools==8.6.0
packaging==20.8
Pillow==8.1.0
Pint==0.16.1
pluggy==0.13.1
portend==2.7.0
psycopg2-binary==2.8.6
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
Pygments==2.7.3
pyparsing==2.4.7
Pyphen==0.10.0
pyrsistent==0.17.3
pytest==6.2.1
pytest-cov==2.10.1
pytest-forked==1.3.0
pytest-xdist==2.2.0
pytz==2020.5
qrcode==6.1
reportlab==3.5.59
requests==2.25.1
requests-mock==1.8.0
selenium==3.141.0
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.1
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.3.22
tempora==4.0.1
tinycss2==1.1.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
vcversioner==2.16.0.0
wcwidth==0.2.5
WeasyPrint==52.2
webencodings==0.5.1
Werkzeug==1.0.1
WTForms==2.3.3
zc.lockfile==2.0
zipp==3.4.0
