bcrypt
beautifulsoup4
bleach
CherryPy
email-validator
fido2
Flask
Flask-Babel
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-MonitoringDashboard
Flask-SQLAlchemy
Flask-WTF
itsdangerous
kaleido
ldap3
Markdown
Pillow
Pint
plotly
psycopg2-binary
pyotp
qrcode
reportlab
requests
SQLAlchemy
weasyprint
