<script>
  if (!window.conditional_wrapper_scripts) {
    window.conditional_wrapper_scripts = [];
  }
  if (!window.conditional_wrapper_conditions) {
    window.conditional_wrapper_conditions = {};
  }
  window.conditional_wrapper_conditions["{{ id_prefix }}"] = [
    {% for condition in schema['conditions'] %}
      false,
    {% endfor %}
  ];
  window.conditional_wrapper_scripts.push(function () {
    function update_conditions_result() {
      function check_condition_fulfilled(condition) {
        if (condition === true) {
          return true
        } else if (condition === false) {
          return false;
        } else if (condition.type === 'not') {
          return !check_condition_fulfilled(condition.condition);
        } else if (condition.type === 'all') {
          return check_all_conditions_fulfilled(condition.conditions);
        } else if (condition.type === 'any') {
          return check_any_conditions_fulfilled(condition.conditions);
        }
      }
      function check_all_conditions_fulfilled(conditions) {
        for (let i = 0; i < conditions.length; i++) {
          if (!check_condition_fulfilled(conditions[i])) {
            return false;
          }
        }
        return true;
      }
      function check_any_conditions_fulfilled(conditions) {
        for (let i = 0; i < conditions.length; i++) {
          if (check_condition_fulfilled(conditions[i])) {
            return true;
          }
        }
        return false;
      }
      let all_conditions_fulfilled = check_all_conditions_fulfilled(window.conditional_wrapper_conditions["{{ id_prefix }}"]);
      if (all_conditions_fulfilled) {
        $('[data-condition-wrapper-for="{{ id_prefix }}"]').show();
        $('[data-condition-replacement-for="{{ id_prefix }}"]').hide();
      } else {
        $('[data-condition-wrapper-for="{{ id_prefix }}"]').hide();
        $('[data-condition-replacement-for="{{ id_prefix }}"]').show();
      }
      $('[data-condition-wrapper-for="{{ id_prefix }}"] input, [data-condition-wrapper-for="{{ id_prefix }}"] textarea, [data-condition-wrapper-for="{{ id_prefix }}"] select').prop('disabled', !all_conditions_fulfilled);
    }
    {% macro handle_condition(condition, index) -%}
      {% if condition['type'] == 'choice_equals' %}
        {
          let choice_element = $("[name=\"{{ parent_id_prefix + '_' + condition['property_name'] + '__text' }}\"]");

          let evaluateCondition = function () {
            {% if condition['choice'] is none %}
            window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}] = (choice_element.selectpicker('val')  === "");
            {% else %}
            window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}] = (!!choice_element.selectpicker('val') && choice_element.find('option:selected').data('valueBase64') === "{{ condition["choice"] | base64encode }}");
            {% endif %}
            update_conditions_result();
          }

          choice_element.on('changed.bs.select', evaluateCondition);
          choice_element.on('loaded.bs.select', evaluateCondition);
          choice_element.on('refreshed.bs.select', evaluateCondition);
          evaluateCondition();
        }
      {% elif condition['type'] == 'user_equals' %}
        {
          let user_element = $("[name=\"{{ parent_id_prefix + '_' + condition['property_name'] + '__uid' }}\"]");

          let evaluateCondition = function () {
            window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}] = (user_element.selectpicker('val') === "{{ condition["user_id"] if condition["user_id"] is not none else '' }}");
            update_conditions_result();
          }
          user_element.on('changed.bs.select', evaluateCondition);
          user_element.on('loaded.bs.select', evaluateCondition);
          user_element.on('refreshed.bs.select', evaluateCondition);
          evaluateCondition();
        }
      {% elif condition['type'] == 'bool_equals' %}
        {
          let bool_element = $("[name=\"{{ parent_id_prefix + '_' + condition['property_name'] + '__value' }}\"]");

          let evaluateCondition = function () {
            window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}] = (bool_element.prop('checked') === {{ "true" if condition["value"] else "false" }});
            update_conditions_result();
          }
          bool_element.on('change', evaluateCondition);
          evaluateCondition();
        }
      {% elif condition['type'] == 'object_equals' %}
        {
          let object_element = $("[name=\"{{ parent_id_prefix + '_' + condition['property_name'] + '__oid' }}\"]");

          let evaluateCondition = function () {
            window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}] = (object_element.selectpicker('val') === "{{ condition["object_id"] if condition["object_id"] is not none else '' }}");
            update_conditions_result();
          }
          object_element.on('changed.bs.select', evaluateCondition);
          object_element.on('loaded.bs.select', evaluateCondition);
          object_element.on('refreshed.bs.select', evaluateCondition);
          evaluateCondition();
        }
      {% elif condition['type'] == 'calculate' %}
        {
          let wrapper_condition = true;
          let conditional_elements = [];
          let property_names = [];

          {% for property_name in condition['property_names'] %}
              let {{ property_name }}_id = "{{ parent_id_prefix + '_' + property_name }}";
              if (!"{{ property_name }}".includes('__')) {
                {{ property_name }}_id =  {{ property_name }}_id + "__magnitude";
              }
              let {{ property_name }} = $("[name=\"" + {{ property_name }}_id + "\"]");
              if ({{ property_name }}.length == 0) {
                wrapper_condition = false;
              } else {
                conditional_elements.push({{ property_name }});
                property_names.push('{{ property_name }}');
              }
          {% endfor %}

          let target_element = $("[name=\"{{ id_prefix + '_magnitude' }}\"]");

          let evaluateCondition = function () {
            window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}] = wrapper_condition;

            if (target_element.length > 0 && wrapper_condition === true) {
                let formula = "{{ condition['formula'] }}";
                let conditions_valid = true;
                for (i = 0; i < conditional_elements.length; i++) {
                    let value = conditional_elements[i].val()
                    value = value.replace(/[^0-9\{{ get_local_decimal_delimiter() }}]/g, "");
                    value = value.replace(/\{{ get_local_decimal_delimiter() }}/g, ".");
                    if (isNaN(parseFloat(value))) {
                        conditions_valid = false;
                        break;
                    }
                    formula = formula.replace( property_names[i], parseFloat(value) );
                }
                if (conditions_valid === true) {
                    let result = math.evaluate(formula);
                    {% if 'digits' in condition %}
                        result = math.round(result, {{ condition['digits'] }});
                    {% endif %}
                    let result_str = String(result);
                    target_element.val(result_str.replace(/\./g, "{{ get_local_decimal_delimiter() }}"));
                }
            }

            update_conditions_result();
          }
          conditional_elements.forEach(function(conditional_element) {
            conditional_element.on('change', evaluateCondition);
          });
          evaluateCondition();
        }
      {% elif condition['type'] == 'any' %}
        window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}] = {'type': 'any', 'conditions': []};
        {% for sub_condition in condition.conditions %}
          window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}]["conditions"][{{ loop.index0 }}] = false;
          {{ handle_condition(sub_condition, index + ']["conditions"][' + (loop.index0 | string)) }}
        {% endfor %}
      {% elif condition['type'] == 'all' %}
        window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}] = {'type': 'all', 'conditions': []};
        {% for sub_condition in condition.conditions %}
          window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}]["conditions"][{{ loop.index0 }}] = false;
          {{ handle_condition(sub_condition, index + ']["conditions"][' + (loop.index0 | string)) }}
        {% endfor %}
      {% elif condition['type'] == 'not' %}
        window.conditional_wrapper_conditions["{{ id_prefix }}"][{{ index | safe }}] = {'type': 'not', 'condition': false};
        {{ handle_condition(condition['condition'], index + ']["condition"') }}
      {% endif %}
    {%- endmacro %}
    {% for condition in schema['conditions'] %}
      {{ handle_condition(condition, loop.index0 | string) }}
    {% endfor %}
  });
</script>
