{% extends "base.html" %}

{% block stylesheets %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        $('.input-group.date').each(function() {
          $(this).datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            date: $(this).attr('data-datetime')
          });
        });
    });
</script>
{% endblock %}