<div class="error-parent form-group" style="padding-right:0.75em">
  {% include "objects/forms/property_label.html" %}
    <div class="col-md-9">
    {% if schema['units'] in ("1", "") %}
        <input type="text" class="form-control" name="{{ id_prefix }}_magnitude" placeholder="{{ (schema.placeholder or schema.title) | get_translated_text  }}" {% if id_prefix+'_magnitude' in form_data %}value="{{ form_data[id_prefix+'_magnitude'] }}"{% elif data is not none and "magnitude_in_base_units" in data %}value="{{ data.magnitude_in_base_units | babel_format_number }}" {% elif is_template and "magnitude_in_base_units" in quantity_template[schema_path] %}value="{{ quantity_template[schema_path].magnitude_in_base_units | babel_format_number }}"{% endif %}>
    {% else %}
      <div class="input-group">
        <input type="text" class="form-control" name="{{ id_prefix }}_magnitude" placeholder="{{ (schema.placeholder or schema.title) | get_translated_text }}" {% if id_prefix+'_magnitude' in form_data %}value="{{ form_data[id_prefix+'_magnitude'] }}"{% elif data is not none %}value="{% if (data | to_datatype).units in ('min', 'h') %}{{ data.magnitude_in_base_units | format_time((data | to_datatype).units, schema.get('display_digits')) }}{% else %}{{ (data | to_datatype).magnitude | babel_format_number }}{% endif %}"{% elif is_template and quantity_template[schema_path] %} value="{% if (quantity_template[schema_path] | to_datatype).units in ('min', 'h') %}{{ quantity_template[schema_path].magnitude_in_base_units | format_time(( quantity_template[schema_path] | to_datatype).units, schema.get('display_digits')) }}{% else %}{{ (quantity_template[schema_path] | to_datatype).magnitude | babel_format_number }}{% endif %}"{% endif %}>
      {% if schema['units'] is string or schema['units'] | length == 1 %}
        {% set unit = schema["units"] if schema["units"] is string else schema["units"][0] %}
        <input type="hidden" name="{{ id_prefix }}_units" value="{% if data is not none %}{{ (data | to_datatype).units }}{% elif is_template and quantity_template[schema_path] %}{{ (quantity_template[schema_path] | to_datatype).units }}{% else %}{{ unit }}{% endif %}"/>
        <span class="input-group-addon" style="min-width: 100px; text-align:left">{% if data is not none %}{{ (data | to_datatype).units | prettify_units }}{% else %}{{ unit | prettify_units  }}{% endif %}</span>
      {% else %}
        {% if id_prefix + '_units' in form_data %}
          {% set selected_unit = form_data[id_prefix + '_units'] %}
        {% elif data is not none %}
          {% set selected_unit = (data | to_datatype).units %}
        {% else %}
          {% set selected_unit = schema['units'][0] %}
        {% endif %}
        <select {% if is_template %} class="template-select" data-template-class="selectpicker" {% else %} class="selectpicker" {% endif %} name="{{ id_prefix }}_units" data-style="btn-default unit-selectpicker">
        {% for unit in schema['units'] %}
          <option value="{{ unit }}" {% if unit == selected_unit %}selected="selected"{% endif %}>{{ unit | prettify_units }}</option>
        {% endfor %}
        {% if selected_unit not in schema['units'] %}
          <option value="{{ selected_unit }}" selected="selected">{{ selected_unit | prettify_units }}</option>
        {% endif %}
        </select>
      {% endif %}
      </div>
    {% endif %}
    <span class="error-note help-block"></span>
    {% if 'note' in schema %}<span class="help-block"><strong>{{ _('Note:') }}</strong> {{ schema['note'] | get_translated_text }}</span>{% endif %}
    {% if 'calculation' in schema %}
      <div class="has-warning">
      {% if 'units' in schema.calculation %}
        {% set unit = schema.calculation.units %}
      {% elif schema.units is string %}
        {% set unit = schema.units %}
      {% else %}
        {% set unit = schema.units[0] %}
      {% endif %}
      <span class="help-block" id="{{ id_prefix }}_calculation_help" style="display: none"><strong>{{ _('Calculated Value:') }}</strong> <span></span>&#8239;{{ unit | prettify_units }} ({{ _('Formula:') }} {{ schema.calculation.formula }}) <button type="button" class="btn btn-default btn-xs">{{ _('Apply') }}</button></span>
      </div>
      {% if is_template %}
        <input type="hidden" class="calculation-wrapper" data-id-prefix="{{ id_prefix }}" data-parent-id-prefix="{{ parent_id_prefix }}" data-schema="{{ schema | stringify }}" data-parent-schema="{{ parent_schema | stringify }}">
      {% else %}
        {% include "objects/forms/calculation_script.html" %}
      {% endif %}
    {% endif %}
    </div>
</div>
