<div class="form-group{% if id_prefix+'_oid' in errors %} has-error{% elif id_prefix+'_oid' in form_data %} has-success{% endif %} row" style="padding-right:0.75em; flex-grow: 1">
  <select class="form-control selectpicker" name="{{ id_prefix }}_oid" data-live-search="true">
      <option value="">&mdash;</option>
  {% for obj in referencable_objects %}
    {% if 'action_type_id' not in schema or schema['action_type_id'] is none or (action_type_id_by_action_id[obj.action_id] == schema['action_type_id']) %}
    {% if id_prefix+'_oid' in form_data %}
      {% if form_data[id_prefix+'_oid'] == obj.object_id | string %}
      <option value="{{ obj.object_id }}" selected="selected">{{ obj.data['name']['text'] }} (#{{ obj.object_id }})</option>
      {% else %}
      <option value="{{ obj.object_id }}">{{ obj.data['name']['text'] }} (#{{ obj.object_id }})</option>
      {% endif %}
    {% else %}
      {% if data is not none and "object_id" in data and data.object_id == obj.object_id %}
      <option value="{{ obj.object_id }}" selected="selected">{{ obj.data['name']['text'] }} (#{{ obj.object_id }})</option>
      {% else %}
      <option value="{{ obj.object_id }}">{{ obj.data['name']['text'] }} (#{{ obj.object_id }})</option>
      {% endif %}
    {% endif %}
    {% endif %}
  {% endfor %}
  </select>
    {% if id_prefix+'_oid' in object_errors %}<span class="help-block"><strong>Error:</strong> {{ object_errors[id_prefix+'_oid'] }}</span>{% endif %}
</div>
