<!-- array start -->
<div class="form-group row">
  <div class="col-md-3 control-label">
    {% if schema.title %}<strong><span {% if schema.minItems %}class="required-label"{% endif %} {% if 'tooltip' in schema %}data-toggle="tooltip" data-placement="top" title="{{ schema.tooltip | get_translated_text }}"{% endif %}>{{ schema.title | get_translated_text }} {% if 'tooltip' in schema %} <i class="fa fa-question-circle" aria-hidden="true"></i>{% endif %}</span></strong>{% endif %}
  </div>
{% set is_required = True %}
{% set minItems = schema.get('minItems', 0) %}
{% set maxItems = schema.get('maxItems', None) %}
{% set defaultItems = schema.get('defaultItems', 0)%}
{% if data is not none %}
{% set numItems = (data | length) %}
{% else %}
{% set numItems = 0 %}
{% endif %}
</div>
{% set parent_prefix = id_prefix %}
{% set template_order_index = template_order_index + 1 if template_order_index else 1 %}
{% set schema_path = schema_path + '_?' %}
<div style="padding-left:2.5em;" id="container_{{ parent_prefix }}_elements" data-template-order-index="{{ template_order_index }}" data-compound-default="{{ schema_path + '_?' in compound_defaults }}">
  <input type="hidden" name="{{ parent_prefix }}_hidden" value="array">
  {% set itemName = (schema['items'].title | get_translated_text) %}
  {% set using_compound_default = false %}
  {% if is_template and schema_path in compound_defaults %}
    {% set data = compound_defaults[schema_path] %}
    {% set using_compound_default = true %}
  {% endif %}
  {% if data is not none %}
    {% for item in data %}
      {% set name = "item" %}
      {% set parent_schema = schema %}
      {% set schema = schema['items'] %}
      {{ schema.update({'parent_style': parent_schema.get('style', none)}) or '' }}
      {% set id_prefix = id_prefix + '_{}_'.format(loop.index0) %}
      {% if not using_compound_default %}
        {{ form_elements.append({ "kind": "array_delete", "delete_button_id": "action_" + id_prefix + "_delete", "prefix": parent_prefix, "id": loop.index0, "minItems": minItems, "maxItems": maxItems if maxItems is not none else -1 }) or '' }}
      {% endif %}
      {% set data = item %}

    <div id="container_{{ id_prefix }}">
      <div style="border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; border-top:1px solid #cccccc; border-right:1px solid #cccccc; margin-right:-1px; border-radius:5px 0 0 5px; padding-left:2.5em; padding-top:1em; margin-bottom: 1em;">
        <div class="pull-right" style="padding-right:0.75em"><button type="button" id="action_{{ id_prefix }}_delete" class="btn btn-danger action_delete_{{ parent_prefix }} delete-button" data-array-type="array" name="action_{{ id_prefix }}_delete" {% if numItems <= minItems %} disabled="disabled" {% endif %} style="width:20em;" {% if using_compound_default %} data-is-default="default" data-array-kind="list" data-parent-prefix="{{ parent_prefix }}" data-element-id="{{ loop.index0 }}" data-min-items="{{ minItems }}" data-max-items="{{ maxItems }}" {% endif %}>{{ _('Remove %(item_name)s', item_name=itemName) }}</button></div>
        <div class="clearfix" style="padding-bottom:0.75em"></div>
        {% include "objects/forms/form_any.html" %}
      </div>
    </div>
    {% endfor %}
  {% endif %}
  {% set id_prefix = parent_prefix + '_!index' ~ template_order_index ~ '!_' %}
  <div class="array-template" id="container_{{ id_prefix }}" {% if data is none %} data-next-id="0" {% else %} data-next-id="{{ data|length }}" {% endif %}>
    {% set name = none %}
    {% set parent_schema = schema %}
    {% set schema = schema['items'] %}
    {{ schema.update({'parent_style': parent_schema.get('style', none)}) or '' }}
    {% set data_backup = data %}
    {% set data = none %}
    {% set is_template = true %}
    <div style="border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; border-top:1px solid #cccccc; border-right:1px solid #cccccc; margin-right:-1px; border-radius:5px 0 0 5px; padding-left:2.5em; padding-top:1em; margin-bottom: 1em;">
      <div class="pull-right" style="padding-right:0.75em"><button type="button" id="action_{{ id_prefix }}_delete" class="btn btn-danger action_delete_{{ parent_prefix }} delete-button" data-array-type="array" data-prefix="{{ parent_prefix }}" name="action_{{ id_prefix }}_delete" {% if numItems <= minItems %} disabled="disabled" {% endif %} style="width:20em;">{{ _('Remove %(item_name)s', item_name=itemName) }}</button></div>
      <div class="clearfix" style="padding-bottom:0.75em"></div>
      {% include "objects/forms/form_any.html" %}
    </div>
    {% set is_template = false %}
  </div>

  <div class="form-group row clearfix" style="padding-right:0.75em">
    <div class="col-md-9 col-md-offset-3">
      <button type="button" id="action_{{ parent_prefix }}_?__add" name="action_{{ parent_prefix }}_?__add" class="btn btn-success pull-right form-add-button" data-array-type="array" data-parent-prefix="{{ parent_prefix }}" data-default-items="{{ defaultItems }}" data-min-items="{{ minItems }}" data-max-items="{{ maxItems if maxItems is not none else -1 }}" {% if maxItems is not none and numItems >= maxItems %} disabled="disabled" {% endif %} style="width:20em">{{ _('Add %(item_name)s', item_name=itemName) }}</button>
    </div>
    {% set data = data_backup %}
  </div>
</div>

{% if not is_template %}
{{ form_elements.append({ "kind": "array_add", "parent_prefix": parent_prefix, "minItems": minItems, "maxItems": maxItems if maxItems is not none else -1}) or '' }}
{% endif %}
<!-- array end -->
