<!-- array start -->
<div class="form-group row">
  <div class="col-md-3 control-label">
<strong>{{ schema.title }}</strong>
  </div>
</div>
<div style="padding-left:2.5em;">
{% set minItems = schema.get('minItems', 0) %}
{% set maxItems = schema.get('maxItems', None) %}
{% set numItems = (data | length) %}
{% if schema.style == "table" %}
  <table class="table">
    <thead>
      <tr>
        {% set item_property_names = schema["items"].properties.keys() %}
        {% set property_order = schema.get('items', {}).get('propertyOrder', []) %}
        {% for property_name in property_order %}
          {% if property_name in item_property_names %}
          <th scope="col">{{ schema["items"].properties[property_name].title }}</th>
          {% endif %}
        {% endfor %}
        {% for property_name in item_property_names %}
          {% if property_name not in property_order %}
          <th scope="col">{{ schema["items"].properties[property_name].title }}</th>
          {% endif %}
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% if data is not none %}
      {% for item in data %}
        {% set name = "item" %}
        {% set schema = schema['items'] %}
        {% set id_prefix = id_prefix + '_{}_'.format(loop.index0) %}
        {% set data = item %}
        <tr>
        {% for property_name in property_order %}
          {% if property_name in item_property_names %}
          <td>
            {% set name = property_name %}
            {% set schema = schema.properties[property_name] %}
            {% set id_prefix = id_prefix + '_' + name + '_' %}
            {% if data is not none and property_name in data %}
            {% set data = data[property_name] %}
            {% else %}
            {% set data = none %}
            {% endif %}
            {% include "objects/forms/form_table_any.html" %}
          </td>
          {% endif %}
        {% endfor %}
        {% for property_name in item_property_names %}
          {% if property_name not in property_order %}
          <td>
            {% set name = property_name %}
            {% set schema = schema.properties[property_name] %}
            {% set id_prefix = id_prefix + '_' + name + '_' %}
            {% if data is not none and property_name in data %}
            {% set data = data[property_name] %}
            {% else %}
            {% set data = none %}
            {% endif %}
            {% include "objects/forms/form_table_any.html" %}
          </td>
          {% endif %}
        {% endfor %}
        {% if numItems > minItems %}
          <td><button type="submit" name="action_{{ id_prefix }}_delete" class="btn btn-danger pull-right">&times;</button></td>
        {% else %}
          <td><button type="button" class="btn btn-danger pull-right disabled">&times;</button></td>
        {% endif %}
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
    <tfoot>
      <tr>
        {% for property_name in item_property_names %}
          <th scope="col"></th>
        {% endfor %}
  {% if maxItems is none or numItems < maxItems %}
        <th><button type="submit" name="action_{{ id_prefix }}_?__add" class="btn btn-success pull-right">+</button></th>
  {% else %}
        <th><button type="button" class="btn btn-success pull-right disabled">+</button></th>
  {% endif %}
      </tr>
    </tfoot>
  </table>
{% else %}
  {% set itemName = schema['items'].title %}
  {% if data is not none %}
    {% for item in data %}
      {% set name = "item" %}
      {% set schema = schema['items'] %}
      {% set id_prefix = id_prefix + '_{}_'.format(loop.index0) %}
      {% set data = item %}
        <div style="border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; border-top:1px solid #cccccc; border-right:1px solid #cccccc; margin-right:-1px; border-radius:5px 0 0 5px; padding-left:2.5em; padding-top:1em; margin-bottom: 1em;">
        {% if numItems > minItems %}
        <div class="pull-right" style="padding-right:0.75em"><button type="submit" name="action_{{ id_prefix }}_delete" class="btn btn-danger" style="width:20em;">Remove {{ itemName }}</button></div>
        {% else %}
          <div class="pull-right" style="padding-right:0.75em"><button type="button" class="btn btn-danger disabled" style="width:20em;">Remove {{ itemName }}</button></div>
        {% endif %}
        {% include "objects/forms/form_any.html" %}
        </div>
    {% endfor %}
  {% endif %}
  <div class="form-group row clearfix" style="padding-right:0.75em">
    <div class="col-md-9 col-md-offset-3">
  {% if maxItems is none or numItems < maxItems %}
    <button type="submit" name="action_{{ id_prefix }}_?__add" class="btn btn-success pull-right" style="width:20em">Add {{ itemName }}</button>
  {% else %}
    <button type="button" class="btn btn-success pull-right disabled" style="width:20em">Add {{ itemName }}</button>
  {% endif %}
    </div>
  </div>
{% endif %}
</div>
<!-- array end -->
