<div class="form-group row">
  <div class="col-md-3 control-label">
    {% if schema.title %}<strong><span {% if schema.minItems %}class="required-label"{% endif %}>{{ schema.title | get_translated_text }}</span></strong>{% endif %}
  </div>
</div>

{% if schema['items']['type'] == 'object' %}
  {% set item_property_names = schema["items"].properties.keys() %}
  {% set property_order = schema.get('items', {}).get('propertyOrder', []) %}
  {% set ordered_property_names = [] %}
  {% for property_name in property_order %}
    {% if property_name in item_property_names %}
      {% do ordered_property_names.append(property_name) %}
    {% endif %}
  {% endfor %}
  {% for property_name in item_property_names %}
    {% if property_name not in property_order %}
      {% do ordered_property_names.append(property_name) %}
    {% endif %}
  {% endfor %}

  <script>
  var {{ id_prefix }}_col_ref = [];
  var {{ id_prefix }}_dropdown_sources = {};
  var {{ id_prefix }}_row_ref = [];
  </script>

  <div style="display: none;">
  {% set minItems = schema.get('minItems', 0) %}
  {% set maxItems = schema.get('maxItems', None) %}

  {% if data is not none %}
    {% set numItems = ((data | length) - 1) %}
    {% for item in data %}
      {% if loop.last %}
        {% set index = "placeholder" %}
      {% else %}
        {% set index = loop.index0 %}
        <script>
        {{ id_prefix }}_row_ref.push({{ index }});
        </script>
      {% endif %}
      {% set id_prefix = id_prefix + '_{}_'.format(index) %}
      <div id="{{ id_prefix }}" class="array_item_{{ index }}">
      {% for property_name in ordered_property_names %}
        {% if item is not none and property_name in item %}
          {% set data = item[property_name] %}
        {% else %}
          {% set data = none %}
        {% endif %}
        {% set schema = schema['items'].properties[property_name] %}
        {% set id_prefix = id_prefix + '_' + property_name + '_' %}
        {% do schema.update({'parent_style': 'table'}) %}
        {% include "objects/forms/form_any.html" %}
      {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    {% set numItems = 0 %}
  {% endif %}
  </div>

  <script>
  {% for property_name in ordered_property_names %}
    {% if schema['items']['properties'][property_name]['type'] == 'quantity' %}
      {{ id_prefix }}_col_ref.push("{{ property_name }}__magnitude");
    {% elif schema['items']['properties'][property_name]['type'] == 'plotly_chart' %}
      {{ id_prefix }}_col_ref.push("{{ property_name }}__plotly");
    {% elif schema['items']['properties'][property_name]['type'] == 'user' %}
      {{ id_prefix }}_col_ref.push("{{ property_name }}__uid");
    {% elif schema['items']['properties'][property_name]['type'] == 'bool' %}
      {{ id_prefix }}_col_ref.push("{{ property_name }}__value");
    {% elif schema['items']['properties'][property_name]['type'] in ["object_reference", "measurement", "sample"] %}
      {{ id_prefix }}_col_ref.push("{{ property_name }}__oid");
      var option_elements = document.getElementsByName("{{ id_prefix }}_placeholder__{{property_name}}__oid")[0].childNodes;
      var source_array = [];
      for(var x=0; x < option_elements.length; x++)
      {
        if (option_elements[x].tagName != 'OPTION') { continue; }
        var option_dict = { id: option_elements[x].value, name: option_elements[x].innerHTML };
        source_array.push(option_dict);
      }
      {{ id_prefix }}_dropdown_sources["{{ property_name }}__oid"] = source_array;
    {% elif schema['items']['properties'][property_name]['type'] == 'text' and 'choices' in schema['items']['properties'][property_name] %}
      {{ id_prefix }}_col_ref.push("{{ property_name }}__text");
      var option_elements = document.getElementsByName("{{ id_prefix }}_placeholder__{{property_name}}__text")[0].childNodes;
      var source_array = [];
      for(var x=0; x < option_elements.length; x++)
      {
        if (option_elements[x].tagName != 'OPTION') { continue; }
        var option_dict = { id: option_elements[x].value, name: option_elements[x].innerHTML };
        source_array.push(option_dict);
      }
      {{ id_prefix }}_dropdown_sources["{{ property_name }}__text"] = source_array;
    {% else %}
      {{ id_prefix }}_col_ref.push("{{ property_name }}__{{ schema['items']['properties'][property_name]['type'] }}");
    {% endif %}
  {% endfor %}
  </script>


<div style="padding-left:2.5em;">
  <div id="{{ id_prefix }}_spreadsheet"></div>
  <div class="form-group row clearfix" style="padding-right:0.75em">
    <div class="col-md-9 col-md-offset-3">
      <button type="button" onclick="addSpreadsheetRow('{{ id_prefix }}', {{minItems if minItems is not none else 'null'}}, {{maxItems if maxItems is not none else 'null'}})" name="action_{{ id_prefix }}_?__add" class="btn btn-success pull-right {{'disabled' if maxItems is not none and numItems - 1 > maxItems}}">+</button>
    </div>
  </div>
</div>
  <script>
  function {{ id_prefix }}_onbeforedeleterow ( instance, rowNumber, numOfRows ) {
      for (r = (rowNumber + numOfRows - 1); r >= rowNumber; r--) {
        id = "{{ id_prefix }}_" + window["{{ id_prefix }}_row_ref"][r] + "_";
        var res = removeArrayItem(id, {{minItems if minItems is not none else 'null'}}, {{maxItems if maxItems is not none else 'null'}});

        if (res === false) {
          alert('{{ _('This table has a minimum row number, cannot delete any more rows') }}');
          break;
        }
        window["{{ id_prefix }}_row_ref"].splice(r, 1);
      }
      window["{{ id_prefix }}"].setData(buildSpreadsheetData("{{ id_prefix }}"));
      return false;
  }

  var {{ id_prefix }} = jspreadsheet(document.getElementById('{{ id_prefix }}_spreadsheet'), {
      defaultColWidth: {{ (1055 / ordered_property_names|length) | int }},
      columnDrag: false,
      allowInsertColumn: false,
      allowDeleteColumn: false,
      allowInsertRow: false,
      allowManualInsertRow: false,
      allowRenameColumn: false,
      copyCompatibility: true,
      columnSorting: false,
      allowComments: false,
      onbeforedeleterow: {{ id_prefix }}_onbeforedeleterow,
      data: [],
      columns: [
          {% for property_name in ordered_property_names %}
            {
              {% if schema["items"].properties[property_name].type == 'datetime' %}
                type: 'calendar',
                options: { format:'YYYY-MM-DD HH24:MI:SS', time:1 },
              {% elif schema["items"].properties[property_name].type == 'quantity' %}
                type: 'number',
                {% if schema["items"].properties[property_name].units == "1" %}
                  mask: '{{ "2220.00" | babel_format_number | replace("2", "#") }}',
                {% else %}
                  mask: '{{ "2220.00" | babel_format_number | replace("2", "#") }} {{ schema["items"].properties[property_name].units }}',
                {% endif %}
              {% elif schema["items"].properties[property_name].type == 'bool' %}
                type: 'checkbox',
                width: 50,
              {% elif schema["items"].properties[property_name].type in ['measurement', 'sample', 'object_reference'] %}
                type: 'dropdown',
                source: {{ id_prefix }}_dropdown_sources["{{ property_name }}__oid"],
              {% elif schema["items"].properties[property_name].type == 'text' and "choices" in schema["items"].properties[property_name] %}
                type: 'dropdown',
                source: {{ id_prefix }}_dropdown_sources["{{ property_name }}__text"],
              {% elif schema["items"].properties[property_name].type == 'text' %}
                type: 'text',
                {% if 'multiline' in schema["items"].properties[property_name] %}
                  wordWrap:true,
                {% endif %}
              {% else %}
                type: 'text',
                readOnly: true,
              {% endif %}
                title: '{{ schema["items"].properties[property_name].title | get_translated_text }}',
            },
          {% endfor %}
       ],
        updateTable: function(instance, cell, col, row, val, label, cellName) {
          var config = {{ id_prefix }}.getConfig();
          if (config.columns[col].readOnly == true) {
            return;
          }
          var parent_name = "{{ id_prefix }}_" + window["{{ id_prefix }}_row_ref"][row] + "_";
          var name = parent_name + "_" + window["{{ id_prefix }}_col_ref"][col];
          var elements = document.getElementsByName(name);

          var value = val;
          if (value.toString().startsWith("=")) {
            value = {{ id_prefix }}.getValue(cellName);
            if (config.columns[col].type == 'number') {
              value = value.replace(/[^\d\.\,]/g, '');
            }
          }

          if (elements.length > 0) {
            var element = elements[0];
            if (element.tagName.toLowerCase() == "textarea") {
              element.innerHTML = value;
            }
            else if (element.getAttribute('type') == "checkbox") {
              element.checked = value;
            }
            else {
              element.value = value;
            }
          }
       },
  });
  </script>
{% else %}
<div class="form-group row has-error">
  <div class="col-md-3 control-label">
    {% if schema.title %}<strong><span {% if schema.minItems %}class="required-label"{% endif %}>{{ schema.title | get_translated_text }}</span></strong>{% endif %}
  </div>
  <div class="col-md-9">
    <span class="help-block"><strong>{{ _('Error:') }}</strong> {{ _('Spreadsheet-View only supports arrays of objects') }}</span>
  </div>
</div>
{% endif %}
