<div class="form-group row{% if id_prefix+'_plotly' in errors %} has-error{% elif id_prefix+'_plotly' in form_data %} has-success{% endif %}" style="padding-right:0.75em">
  <label class="control-label col-md-3 {% if schema.title and is_required %}required-label{% endif %}">{{ schema.title | get_translated_text }}</label>
  <div class="col-md-9">
    <textarea type="text" class="form-control plotly-chart-editor" name="{{ id_prefix }}_plotly" rows="5" placeholder="">{% if id_prefix+'_plotly' in form_data %}{{ form_data[id_prefix+'_plotly'] }}{% elif data is not none and "plotly" in data %}{{ data.plotly | to_json_no_extra_escapes(indent=None) }}{% endif %}</textarea>
    {% if 'note' in schema %}<span class="help-block"><strong>{{ _('Note:') }}</strong> {{ schema['note'] | get_translated_text }}</span>{% endif %}
    </div>
</div>
