<div class="form-group" style="padding-right:0.75em; flex-grow: 1">
  <div class="checkbox error-parent" style="">
    <label>
      <span class="sr-only">{{ schema.title | get_translated_text }}</span>
      <input type="hidden" name="{{ id_prefix }}_hidden" value="checkbox exists">
      <input type="checkbox" name="{{ id_prefix }}_value" {% if id_prefix+'_hidden' in form_data %}{% if id_prefix+'_value' in form_data%}checked{% endif %}{% elif data is not none and "value" in data and data.value%}checked="checked"{% elif "default" in schema and schema.default %}checked="checked"{% endif %}>
    </label>
    <span class="help-block error-note"></span>
  </div>
</div>
