<!-- array start -->
<div class="form-group row">
  <div class="col-md-3 control-label">
<strong>{{ schema.title }}</strong>
  </div>
</div>
<div style="padding-left:2.5em;">
{% if "itemName" in schema %}
  {% set itemName = schema.itemName %}
{% else %}
  {% set itemName = "Item" %}
{% endif %}
{% if data is not none %}
  {% for item in data %}
    {% set name = "item" %}
    {% set schema = schema['items'] %}
    {% set data = item %}
      <div style="border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; border-top:1px solid #cccccc; border-radius:5px 0 0 5px; padding-left:2.5em; padding-top:1em; margin-bottom: 1em;">
      <button type="button" class="btn btn-danger pull-right" style="width:10em">Remove {{ itemName }}</button>
      {% include "form_any.html" %}
      </div>
  {% endfor %}
{% endif %}
<div class="form-group row clearfix">
  <div class="col-md-9 col-md-offset-3">
    <button type="button" class="btn btn-success pull-right" style="width:10em">Add {{ itemName }}</button>
  </div>
</div>
</div>
<!-- array end -->
