{% extends "labels/LabelBase.html" %}

{% block style %}
    @page {
        size: {{ paper_width }}mm {{ paper_height }}mm;
        margin: 7.5mm 5mm 7.5mm 1.5mm;
    }
    .label {
        margin: 2mm 1.5mm;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        height: {{box_height}}mm;
        width: {{box_width}}mm;
    }
    .boxname {
        border: 1.5px solid black;
        height: 4mm;
        width: {{box_width}}mm;
        text-align: center;
    }
    .boxinfo {
        border: 1.5px solid black;
        height: 8mm;
        width: {{box_width}}mm;
        text-align: center;
        border-top: none;
    }
    .boxqrcode {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 21mm;
        width: {{qrcode_box_width}}mm;
    }
    .boxsidebyside > .boxqrcode {
        height: {{box_side_by_side_height}}mm;
    }
    .boxqrcodeCSBSwghs {
        border-right: 1.5px solid black;
    }
    .boxqrcodeCSBSwoghs {
        width: {{box_width}}mm;
    }
    .boxqrcodeCnotSBS {
        border: 1.5px solid black;
        border-top: none;
    }
    .boxqrcodenotCSBS {
        border-right: 1.5px solid black;
    }
    .boxqrcodenotCnotSBS {
        border: 1.5px solid black;
        border-top: none;
        border-left: none;
    }
    .qrouterbox{
        border: 1.5px solid black;
        border-top: none;
        height: 21mm;
        width: {{box_width}}mm;
    }
    .boxghs {
        position: relative;
        width: {{ghs_box_width}}mm;
    }
    .boxghsCSBS{
        height: {{box_side_by_side_height}}mm;
    }
    .boxghsCnotSBS {
        border: 1.5px solid black;
        border-top: none;
        height: {{ghs_height}}mm;
    }
    .boxghsnotCSBS{
        border-right: 1.5px solid black;
        height: {{box_side_by_side_height}}mm;
    }
    .boxghsnotCnotSBS {
        border-right: 1.5px solid black;
        border-bottom: 1.5px solid black;
        height: {{ghs_height}}mm;
    }
    .ghsouterbox{
        border: 1.5px solid black;
        border-top: none;
        height: {{ghs_height}}mm;
        width: {{box_width}}mm;
    }
    .boxsidebyside{
        border: 1.5px solid black;
        border-top: none;
        height: {{box_side_by_side_height}}mm;
        width: {{box_width}}mm;
        display: flex;
        flex-direction: row;
    }
    .labelcontainer {
        border: none;
        height: {{outer_box_height}}mm;
        width: {{outer_box_width}}mm;
        text-align: center;
    }
    .labelcontainer > div {
        display: inline-block;
    }
    .centeredghsbox {
        position: relative;
        width: {{ ghs_width * 2 }}mm;
        margin: 0 auto;
    }
    .centeredghsbox .ghs {
        position: absolute;
    }
    .centeredghsbox .ghs:nth-child(1) {
        top: 2mm;
    }
    .centeredghsbox .ghs:nth-child(2), .centeredghsbox .ghs:nth-child(3) {
        top: 6.5mm;
    }
    .centeredghsbox .ghs:nth-child(4) {
        top: 11mm;
    }
    .centeredghsbox .ghs:nth-child(5), .centeredghsbox .ghs:nth-child(6) {
        top: 15.5mm;
    }
    .centeredghsbox .ghs:nth-child(7) {
        top: 20mm;
    }
    .centeredghsbox .ghs:nth-child(8), .centeredghsbox .ghs:nth-child(9) {
        top: 24.5mm;
    }
    .centeredghsbox .ghs:nth-child(1), .centeredghsbox .ghs:nth-child(4), .centeredghsbox .ghs:nth-child(7) {
        left: {{ ghs_width / 2 }}mm;
    }
    .centeredghsbox .ghs:nth-child(2), .centeredghsbox .ghs:nth-child(5), .centeredghsbox .ghs:nth-child(8) {
        left: {{ ghs_width }}mm;
    }
    /* special case with only two GHS symbols */
    .centeredghsbox .ghs:nth-child(1):nth-last-child(2), .centeredghsbox .ghs:nth-child(2):nth-last-child(1) {
        top: 5.5mm;
    }
    .centeredghsbox .ghs:nth-child(1):nth-last-child(2) {
        left: 0;
    }
    .centeredghsbox .ghs:nth-child(2):nth-last-child(1) {
        left: {{ ghs_width }}mm;
    }
{% endblock %}

{% block body %}
    <div class="labelcontainer">
        {% for object_index in range(0,object_amount) %}
        {%- for i in range(0,page_amount) -%}
        <div class="label">
            <div class="labeltext">
                <div class="boxname"><b>{{ object_name_list[object_index] }}</b></div>
                <div class="boxinfo">
                    {{ username_list[object_index] }}<br>
                    {{ creation_date_list[object_index] }}
                </div>
                {%- if not ghs_classes_side_by_side and not centered -%}
                    <div class="qrouterbox">
                {%- endif -%}
                {%- if ghs_classes_side_by_side -%}
                    <div class="boxsidebyside">
                {%- endif -%}
                <div class="boxqrcode
                {% if ghs_classes_side_by_side %}
                    {% if centered %}
                        {% if ghs_amount_list[object_index] > 0 %}
                            boxqrcodeCSBSwghs
                        {% else %}
                            boxqrcodeCSBSwoghs
                        {% endif %}
                    {% else %}
                        boxqrcodenotCSBS
                    {% endif %}
                {% else %}
                    {% if centered %}
                       boxqrcodeCnotSBS
                    {% else %}
                        boxqrcodenotCnotSBS
                    {% endif %}
                {% endif %}
                ">
                <div class="qrcode" style="background-image: url({{ qr_code_uri_list[object_index] }})"></div>
                #{{ sample_code_list[object_index] }}
                </div>
                {%- if not ghs_classes_side_by_side and not centered -%}
                    </div>
                {%- endif -%}
                {%- if not ghs_classes_side_by_side and not centered -%}
                    {%- if has_ghs[object_index] -%}
                        <div class="ghsouterbox">
                    {%- else -%}
                        <div>
                    {%- endif -%}
                {%- endif -%}
                    <div class="boxghs
                {% if ghs_amount_list[object_index] > 0 %}
                    {%- if ghs_classes_side_by_side -%}
                        {%- if centered -%}
                            boxghsCSBS
                        {% else %}
                            boxghsnotCSBS
                        {% endif %}
                    {%- else -%}
                        {%- if centered -%}
                            boxghsCnotSBS
                        {% else %}
                            boxghsnotCnotSBS
                        {% endif %}
                    {%- endif -%}
                {% endif %}
                ">
                <div class="centeredghsbox">
                    {%- for hazard_code in hazard_list[object_index] -%}
                        <div class="ghs ghs0{{hazard_code}}"></div>
                    {%- endfor -%}
                </div>
                </div>
                {%- if not ghs_classes_side_by_side and not centered -%}
                    </div>
                {%- endif -%}
                {%- if ghs_classes_side_by_side -%}
                    </div>
                {% endif %}
            </div>
        </div>
        {%- endfor -%}
        {% endfor %}
    </div>
{% endblock %}
