{% extends "base.html" %}

{% block content %}
  <h1>Actions</h1>
  {% for action in actions %}
    {% if action.instrument is none %}
    <h2><a href="{{ url_for('.action', action_id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a></h2>
    {% else %}
    <h2><a href="{{ url_for('.instrument', instrument_id=action.instrument.id) }}" title="{{ action.instrument.name }}">{{ action.instrument.name }}</a> &mdash; <a href="{{ url_for('.action', action_id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a></h2>
    {% endif %}
    <p>{{ action.description }}</p>
    {% if action.type == ActionType.MEASUREMENT %}
      <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Measurements</a>
      <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-success">Perform Measurement</a>
    {% else %}
      <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Samples</a>
      <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-success">Create Sample</a>
    {% endif %}
  {% endfor %}
{% endblock %}