{% extends "base.html" %}

{% block content %}
  {% if action.instrument is none %}
  <h1><a href="{{ url_for('.action', action_id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a></h1>
  {% else %}
  <h1><a href="{{ url_for('.instrument', instrument_id=action.instrument.id) }}" title="{{ action.instrument.name }}">{{ action.instrument.name }}</a> &mdash; <a href="{{ url_for('.action', action_id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a></h1>
  {% endif %}
  <p>{{ action.description }}</p>
  {% with instrument = action.instrument %}
    {% include "instruments/instrument_responsible_users.html" %}
  {% endwith %}
  {% if action.type == ActionType.MEASUREMENT %}
    <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Measurements</a>
    <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-success">Perform Measurement</a>
  {% elif action.type == ActionType.SIMULATION %}
    <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Simulations</a>
    <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-success">Perform Simulation</a>
  {% else %}
    <a href="{{ url_for('.objects', action=action.id) }}" class="btn btn-default">View Samples</a>
    <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-success">Create Sample</a>
  {% endif %}
{% endblock %}