{% extends "base.html" %}

{% block content %}
  {% if action.instrument is none %}
  <h1><a href="{{ url_for('.action', action_id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a></h1>
  {% else %}
  <h1><a href="{{ url_for('.instrument', instrument_id=action.instrument.id) }}" title="{{ action.instrument.name }}">{{ action.instrument.name }}</a> &mdash; <a href="{{ url_for('.action', action_id=action.id) }}" title="{{ action.name }}">{{ action.name }}</a></h1>
  {% endif %}
  <p>{{ action.description }}</p>
  <a href="{{ url_for('.new_object', action_id=action.id) }}" class="btn btn-default">Perform Action</a>
{% endblock %}