{% if schema['type'] == 'text' %}
  {% include "objects/view/text.html" %}
{% elif schema['type'] == 'datetime' %}
  {% include "objects/view/datetime.html" %}
{% elif schema['type'] == 'bool' %}
  {% include "objects/view/bool.html" %}
{% elif schema['type'] == 'quantity' %}
  {% include "objects/view/quantity.html" %}
{% elif schema.type == 'object' %}
  {% include "objects/view/object.html" %}
{% elif schema.type == 'array' %}
  {% include "objects/view/array.html" %}
{% else %}
  {{ name }}{{ schema.type }}{{ schema['type'] }}
{% endif %}
