<!-- array start -->
{% if search_query_attribute %}
  {% set base_search_query_attribute = search_query_attribute %}
{% else %}
  {% set base_search_query_attribute = "" %}
{% endif %}
<div class="row" style="padding-right: 0.75em;">
  <div class="col-md-3" style="text-align: right; margin-bottom: 5px;">
<strong>{{ schema.title | get_translated_text }} <i class="fa fa-search" style="visibility:hidden" aria-hidden="true"></i></strong>
  </div>
</div>
<div style="padding-left:2.5em;">
  {% if data is not none %}
    {% for item in data %}
      {% set name = name ~ "_" ~ loop.index0 %}
      {% set schema = schema['items'] %}
      {% set data = item %}
      {% set search_query_attribute = base_search_query_attribute + ".%d" | format(loop.index0) %}
        <div style="border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; border-top:1px solid #cccccc; border-right:1px solid #cccccc; margin-right:-1px; border-radius:5px 0 0 5px; padding-left:2.5em; padding-top:1em; margin-bottom: 1em;">
        {% include "objects/view/any.html" %}
        </div>
    {% endfor %}
  {% endif %}
</div>
<!-- array end -->
