{% extends "base.html" %}

{% block stylesheets %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-treeview.min.css') }}" />
{% endblock %}

{% block content %}

  {% if is_archived %}
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Note:</strong> This is an archived version of the object information. For the current information, <a href="{{ url_for('frontend.object', object_id=object_id) }}">click here</a>.
  </div>
  {% endif %}

  <h3>{{ object_type }} #{{ object_id }}: {{ data['name']['text'] }}</h3>

  <h4>Information</h4>
  <div class="row" style="padding-right:0.75em">
    <label class="col-md-3" style="text-align: right">Instrument</label>
    <div class="col-md-9">{% if instrument is not none %}<a href="{{ url_for('frontend.instrument', instrument_id=instrument.id) }}">{{ instrument.name }}</a>{% else %}&mdash;{% endif %}</div>
  </div>
  <div class="row" style="padding-right:0.75em">
    <label class="col-md-3" style="text-align: right">Action</label>
    <div class="col-md-9"><a href="{{ url_for('frontend.action', action_id=action.id) }}">{{ action.name }}</a></div>
  </div>
  {% include "objects/view/any.html" %}
  {% if not is_archived %}
    {% if user_may_edit %}
    <div class="form-group row clearfix" style="padding-right:0.75em">
      <div class="col-md-9 col-md-offset-3">
        <a href="{{ url_for('.object', object_id=object_id, mode='edit') }}" class="btn btn-primary pull-right" style="width:10em">Edit Object</a>
      </div>
    </div>
    {% endif %}
    {% if user_may_grant %}
    <div class="form-group row clearfix" style="padding-right:0.75em">
      <div class="col-md-9 col-md-offset-3">
        <a href="{{ url_for('.object_permissions', object_id=object_id) }}" class="btn btn-primary pull-right" style="width:10em">Edit Permissions</a>
      </div>
    </div>
    {% endif %}
  {% endif %}
    {% if restore_form is not none %}
    <div class="form-group row clearfix" style="padding-right:0.75em">
      <div class="col-md-9 col-md-offset-3">
        <form class="text-center" action="{{ url_for('.restore_object_version', object_id=object_id, version_id=version_id) }}" method="post">
          {{ restore_form.csrf_token() }}
          <button type="submit" class="btn btn-primary pull-right" style="width:10em">Restore Version</button>
        </form>
      </div>
    </div>
    {% endif %}

  {% if object_log_entries %}
    <h4>Activity Log</h4>
    <table class="table" id="activity_log">
      <thead>
        <tr>
          <th scope="col" style="white-space: nowrap;width: 1%;">Datetime</th>
          <th scope="col"></th>
          <th scope="col" class="text-right" style="white-space: nowrap;width: 1%;">
            <button type="button" class="btn btn-sm btn-primary" data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-content="
              <label style='font-weight:400'><input type='checkbox' id='activity_log_filter_versions' onclick='activity_log_toggle($(this).is(&quot;:checked&quot;), &quot;versions&quot;);'/> Versions</label><br />
              <label style='font-weight:400'><input type='checkbox' id='activity_log_filter_measurements' onclick='activity_log_toggle($(this).is(&quot;:checked&quot;), &quot;measurements&quot;);' /> Measurements</label><br />
              <label style='font-weight:400'><input type='checkbox'  id='activity_log_filter_comments' onclick='activity_log_toggle($(this).is(&quot;:checked&quot;), &quot;comments&quot;);' /> Comments</label><br />
              <label style='font-weight:400'><input type='checkbox' id='activity_log_filter_other' onclick='activity_log_toggle($(this).is(&quot;:checked&quot;), &quot;other&quot;);'; /> Other</label>
              <script>
                window.update_activity_log_filter_states();
              </script>
            ">
              <i class="fa fa-filter" style="font-size: 1.5rem"></i> <span class="badge" id="activity_log_counter"></span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for object_log_entry in object_log_entries %}
        <tr data-activity-log-type="{{ object_log_entry.type.name.lower() }}">
          <td style="white-space: nowrap;width: 1%;">{{ object_log_entry.utc_datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          {% if object_log_entry.type == ObjectLogEntryType.CREATE_OBJECT %}
            <td>
              <a href="{{ url_for('.user_profile', user_id=object_log_entry.user.id) }}">{{ object_log_entry.user.name }}</a> created the object.
            </td>
            <td class="text-right">
              <a href="{{ url_for('.object_version', object_id=object_id, version_id=0) }}">View</a>
            </td>
          {% elif object_log_entry.type == ObjectLogEntryType.EDIT_OBJECT %}
            <td><a href="{{ url_for('.user_profile', user_id=object_log_entry.user.id) }}">{{ object_log_entry.user.name }}</a> edited the object.</td>
            <td class="text-right">
              {% if 'version_id' in object_log_entry.data %}
                <a href="{{ url_for('.object_version', object_id=object_id, version_id=object_log_entry.data['version_id']) }}">View</a>
              {% endif %}
            </td>
          {% elif object_log_entry.type == ObjectLogEntryType.RESTORE_OBJECT_VERSION %}
            <td><a href="{{ url_for('.user_profile', user_id=object_log_entry.user.id) }}">{{ object_log_entry.user.name }}</a> restored object <a href="{{ url_for('.object_version', object_id=object_id, version_id=object_log_entry.data['restored_version_id']) }}">version #{{ object_log_entry.data['restored_version_id'] }}</a>.</td>
            <td class="text-right">
              {% if 'version_id' in object_log_entry.data %}
                <a href="{{ url_for('.object_version', object_id=object_id, version_id=object_log_entry.data['version_id']) }}">View</a>
              {% endif %}
            </td>
          {% elif object_log_entry.type == ObjectLogEntryType.USE_OBJECT_IN_MEASUREMENT %}
            <td><a href="{{ url_for('.user_profile', user_id=object_log_entry.user.id) }}">{{ object_log_entry.user.name }}</a> used the object in measurement <a href="{{ url_for('.object', object_id=object_log_entry.data['measurement_id']) }}">{{ object_log_entry.data['measurement'].data['name']['text'] }}</a>.</td>
            <td class="text-right">
              {% if 'measurement_id' in object_log_entry.data %}
                <a href="{{ url_for('.object', object_id=object_log_entry.data['measurement_id']) }}">View</a>
              {% endif %}
            </td>
          {% elif object_log_entry.type == ObjectLogEntryType.POST_COMMENT %}
            <td><a href="{{ url_for('.user_profile', user_id=object_log_entry.user.id) }}">{{ object_log_entry.user.name }}</a> posted a comment for this object.</td>
            <td class="text-right">
              {% if 'comment_id' in object_log_entry.data %}
                <a href="#comment-{{ object_log_entry.data['comment_id'] }}">View</a>
              {% endif %}
            </td>
          {% elif object_log_entry.type == ObjectLogEntryType.UPLOAD_FILE %}
            <td><a href="{{ url_for('.user_profile', user_id=object_log_entry.user.id) }}">{{ object_log_entry.user.name }}</a> uploaded <a href="#file-{{ object_log_entry.data['file_id'] }}">{% for file in files %}{% if file.id == object_log_entry.data['file_id'] %}{{ file.original_file_name }}{% endif %}{% endfor %}</a>.</td>
            <td class="text-right">
              {% if 'file_id' in object_log_entry.data %}
                <a href="#file-{{ object_log_entry.data['file_id'] }}">View</a>
              {% endif %}
            </td>
          {% else %}
            <td>Unknown event</td><td></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if not is_archived %}
    <h4>Files</h4>
    {% if files %}
    <table class="table" id="file_table">
      <thead>
        <tr>
          <th scope="col" style="white-space: nowrap;width: 1%;"></th>
          <th scope="col">Title</th>
          <th scope="col" class="text-right" style="white-space: nowrap;width: 1%;">
            <button type="button" class="btn btn-sm btn-primary" data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-content="
              <label style='font-weight:400'><input type='checkbox' id='file_table_filter_notebooks' onclick='file_table_toggle($(this).is(&quot;:checked&quot;), &quot;notebooks&quot;);'/> Notebooks</label><br />
              <label style='font-weight:400'><input type='checkbox' id='file_table_filter_other' onclick='file_table_toggle($(this).is(&quot;:checked&quot;), &quot;other&quot;);' /> Other Files</label><br />
              <script>
                window.update_file_table_filter_states();
              </script>
            " style="display: none">
              <i class="fa fa-filter" style="font-size: 1.5rem"></i> <span class="badge" id="file_table_counter"></span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for file in files %}
        {% if not file.is_hidden %}
        <tr id="file-{{ file.id }}">
          <td style="white-space: nowrap;width: 1%;">{% if file.original_file_name | is_image %}<a href="{{ url_for('.object_file', object_id=object_id, file_id=file.id) }}?preview" title="{{ file.title }}"><img src="{{ url_for('.object_file', object_id=object_id, file_id=file.id) }}?preview" alt="{{ file.title }}" style="max-width:100px; max-height:100px;"/></a>{% endif %}</td>
          <td>{{ file.title }}</td>
          <td>
            <span class="pull-right" style="display:flex;">
              <button type="button" class="btn btn-link button-file-info" style="padding-top:0;padding-bottom:0;" data-file_id="{{ file.id }}"><i class="fa fa-info"></i></button>
              {% if file.original_file_name | has_preview %}
              <a href="{{ url_for('.object_file', object_id=object_id, file_id=file.id) }}?preview" class="btn btn-link" style="padding-top:0;padding-bottom:0;"><i class="fa fa-search"></i></a>
              {% else %}
              <a href="{{ url_for('.object_file', object_id=object_id, file_id=file.id) }}?preview" class="btn btn-link" style="padding-top:0;padding-bottom:0;visibility: hidden"><i class="fa fa-search"></i></a>
              {% endif %}
              <a href="{{ url_for('.object_file', object_id=object_id, file_id=file.id) }}" class="btn btn-link" style="padding-top:0;padding-bottom:0;"><i class="fa fa-download"></i></a>
            </span>
          </td>
        </tr>
        {% else %}
        <tr>
          <td style="white-space: nowrap;width: 1%;"></td>
          <td>&mdash;</td>
          <td>
            <span class="pull-right" style="display:flex;">
              <button type="button" class="btn btn-link button-file-info" style="padding-top:0;padding-bottom:0;" data-file_id="{{ file.id }}"><i class="fa fa-question"></i></button>
            </span>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>There are no files for this {{ object_type.lower() }}.</p>
    {% endif %}

    {% for file in files %}
    {% if file.is_hidden %}
    <div class="modal fade modal-file-info" id="fileInfoModal-{{ file.id }}" tabindex="-1" role="dialog" aria-labelledby="fileInfoModalLabel-{{ file.id }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="fileInfoModalLabel-{{ file.id }}">Hidden File Information</h4>
            </div>
            <div class="modal-body">
              {% if file.hide_reason %}
              This file has been hidden for the following reason:
              <pre style="font-family: inherit">{{ file.hide_reason }}</pre>
              {% else %}
              This file has been hidden.
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for file in files %}
    {% if not file.is_hidden %}
    <div class="modal fade modal-file-info" id="fileInfoModal-{{ file.id }}" tabindex="-1" role="dialog" aria-labelledby="fileInfoModalLabel-{{ file.id }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content file-info-main">
          <form method="post" action="{{ url_for('.update_file_information', object_id=object_id, file_id=file.id) }}">
          {{ file_information_form.csrf_token() }}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="fileInfoModalLabel-{{ file.id }}">File Information</h4>
            </div>
            <div class="modal-body">
            <div class="row">
              <div class="col-sm-3 text-right"><label>Title:</label></div>
              <div class="col-sm-9"><span class="file-info-view-mode">{% if file.title %}{{ file.title }}{% else %}&mdash;{% endif %}</span><span class="file-info-edit-mode"><input type="text" name="{{ file_information_form.title.name }}" class="input-file-info-title" style="width:100%" value="{% if file.title %}{{ file.title }}{% endif %}"></span></div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right"><label>Name:</label></div>
              <div class="col-sm-9">{{ file.original_file_name }}</div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right"><label>Uploaded by:</label></div>
              <div class="col-sm-9"><a href="{{ url_for('.user_profile', user_id=file.uploader.id) }}">{{ file.uploader.name }}</a></div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right"><label>Description:</label></div>
              <div class="col-sm-9"><span class="file-info-view-mode">{% if file.description %}<pre style="font-family: inherit">{{ file.description }}</pre>{% else %}&mdash;{% endif %}</span><span class="file-info-edit-mode"><textarea name="{{ file_information_form.description.name }}"class="input-file-info-description" style="width:100%;resize: vertical;">{% if file.description %}{{ file.description }}{% endif %}</textarea></span></div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-right"><label>History:</label></div>
              <div class="col-sm-9"><a role="button" data-toggle="collapse" href="#fileInfoModalCollapse-{{ file.id }}" aria-expanded="false" aria-controls="fileInfoModalCollapse-{{ file.id }}">Show/Hide</a></div>
            </div>
            <div class="collapse" id="fileInfoModalCollapse-{{ file.id }}">
              <table class="table" id="activity_log">
                <thead>
                  <tr>
                    <th scope="col" style="white-space: nowrap;width: 1%;">Datetime</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ file.utc_datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><a href="{{ url_for('.user_profile', user_id=file.uploader.id) }}">{{ file.uploader.name }}</a> has uploaded the file.</td>
                  </tr>
                  {% for log_entry in file.log_entries %}
                    {% if log_entry.type == FileLogEntryType.EDIT_TITLE %}
                      <tr>
                        <td>{{ log_entry.utc_datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td><a href="{{ url_for('.user_profile', user_id=log_entry.user.id) }}">{{ log_entry.user.name }}</a> updated the title to:<br />{{ log_entry.data['title'] }}</td>
                      </tr>
                    {% elif log_entry.type == FileLogEntryType.EDIT_DESCRIPTION %}
                      <tr>
                        <td>{{ log_entry.utc_datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td><a href="{{ url_for('.user_profile', user_id=file.uploader.id) }}">{{ log_entry.user.name }}</a> updated the description to: <pre style="font-family: inherit">{{ log_entry.data['description'] }}</pre></td>
                      </tr>
                    {% else %}
                      <tr>{{ log_entry.type }}</tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
            <div class="modal-footer">
              {% if user_may_edit %}
              <button type="submit" class="btn btn-primary file-info-edit-mode">Save</button>
              <button type="button" class="btn btn-default file-info-edit-mode button-file-info-cancel">Cancel</button>
              <button type="button" class="btn btn-primary file-info-view-mode button-file-info-edit">Edit</button>
              <button type="button" class="btn btn-default file-info-view-mode button-file-info-hide">Hide</button>
              {% endif %}
              <a href="{{ url_for('.object_file', object_id=object_id, file_id=file.id) }}" class="btn btn-default file-info-view-mode">Download</a>
              <button type="button" class="btn btn-default file-info-view-mode" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
        <div class="modal-content file-info-hide">
          <form method="post" action="{{ url_for('.hide_file', object_id=object_id, file_id=file.id) }}">
          {{ file_hiding_form.csrf_token() }}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Hide File</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Reason:</label>
                <textarea class="form-control" rows="3" name="{{ file_hiding_form.reason.name }}" title="Reason"></textarea>
              </div>
              <strong>Note</strong>: Other users will still see that a file has been hidden. The file may be restored by an administrator upon request.
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">Hide</button>
              <button type="button" class="btn btn-default button-file-info-hide-cancel">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% if user_may_edit %}
    <div class="form-group row clearfix" style="padding-right:0.75em">
      <div class="col-md-12">
            <form class="form" method="post" action="{{ url_for('.post_object_files', object_id=object_id) }}" enctype="multipart/form-data">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file"></i></span>
                <input id="input-file-text" type="text" class="form-control disabled" disabled />
                <span class="input-group-btn">
                  <input type="hidden" value="" id="input-file-names-hidden" name="{{ file_form.file_names.name }}" />
                  <input type="hidden" value="" id="input-file-source-hidden" name="{{ file_form.file_source.name }}" />
                  {{ file_form.csrf_token }}
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:10em;">
                    <i class="fa fa-folder-open"></i> Browse... <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <label class="btn btn-link btn-file" style="color:#333333;"><i class="fa fa-hdd-o fa-fw"></i> Local files<input id="input-file-upload" type="file" name="{{ file_form.local_files.name }}" multiple style="display: none;"></label>
                      </li>
                      <li role="separator" class="divider"></li>
                      {% if file_source_instrument_exists %}
                      <li>
                        <button type="button" class="btn btn-link" style="color:#333333;" id="button-show-instrument-files-modal"><i class="fa fa-book fa-fw"></i> Instrument files</button>
                      </li>
                      {% endif %}
                      {% if file_source_jupyterhub_exists %}
                      <li>
                        <button type="button" class="btn btn-link" style="color:#333333;" id="button-show-jupyterhub-files-modal"><img src="{{ url_for('static', filename='img/jupyter-80.png') }}" style="height:14px; margin-left:2px; margin-right:2px;"> JupyterHub files</button>
                      </li>
                      {% endif %}
                      {% if file_source_instrument_exists or file_source_jupyterhub_exists %}
                      <li role="separator" class="divider"></li>
                      {% endif %}
                      <li>
                        <button type="button" class="btn btn-link" style="color:#333333;" id="button-show-mobile-file-upload-modal"><i class="fa fa-mobile-phone fa-fw"></i> Smartphone</button>
                      </li>
                    </ul>
                  </div>
                  <button type="submit" class="btn btn-primary disabled" style="width:10em;" id="button-upload-files"><i class="fa fa-upload fa-fw"></i> Upload</button>
                </span>
              </div>
            </form>
      </div>
    </div>

    <div class="modal fade" id="fileAddModal" tabindex="-1" role="dialog" aria-labelledby="fileAddModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="fileAddModalLabel">Select files …</h4>
          </div>
          <div class="modal-body">
            <div id="existing_files_tree"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success pull-left hidden" onclick="window.open('https://iffjupyter.fz-juelich.de')" id="button-open-jupyterhub">Open JupyterHub</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="fileAddModalSelect">Select</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="mobileFileLinkModal" tabindex="-1" role="dialog" aria-labelledby="mobileFileLinkModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="mobileFileLinkModalLabel">Mobile File Upload</h4>
          </div>
          <div class="modal-body">
            <p class="text-center">To upload files from mobile devices, scan this QR code:</p>
            <a href="{{ mobile_upload_url }}"><img src="{{ mobile_upload_qrcode }}" alt="{{ mobile_upload_url }}" style="width: 100%"/></a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endif %}

  {% if not is_archived %}
    <h4>Comments</h4>
    {% if comments %}
      {% for comment in comments %}
        <div class="well" id="comment-{{ comment.id }}">
          {{ comment.content }}
          <div class="text-right">&mdash; <a href="{{ url_for('frontend.user_profile', user_id=comment.author.id) }}">{{ comment.author.name }}</a>, {{ comment.utc_datetime.strftime('%Y-%m-%d %H:%M:%S') }}</div>
        </div>
      {% endfor %}
    {% else %}
      <p>There are no comments for this object.</p>
    {% endif %}
    {% if user_may_comment %}
      <form class="form" method="post" action="{{ url_for('frontend.post_object_comments', object_id=object_id) }}" id="new-comment-form">
        {{ comment_form.csrf_token }}
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Comment" style="resize:vertical; min-height:2.5em; margin-bottom: 10px;" name="{{ comment_form.content.name }}">{% if comment_form.content.data %}{{ comment_form.content.data }}{% endif %}</textarea>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary" style="width:10em; margin-bottom: 20px;">Submit</button>
        </div>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-treeview.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-treeview.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
  <script type="text/javascript">
    $(function () {
        $('.input-group.date').each(function() {
          $(this).datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            date: $(this).attr('data-datetime')
          });
        });
        $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });
      {% if (not is_archived) and user_may_comment %}
        var comment_form = $('#new-comment-form');
        var comment_textarea = comment_form.find('textarea');
        comment_textarea.on('input change propertychange', function() {
            comment_textarea.closest('.form-group').removeClass('has-error');
        });
        comment_form.on('submit', function() {
          if (comment_textarea.val() === "") {
            comment_textarea.closest('.form-group').addClass('has-error');
            comment_textarea.focus();
            return false;
          }
          return true;
        });
      {% endif %}
      $(function () {
        $('[data-toggle="popover"]').popover()
      });
      {% if object_log_entries %}
        var activity_log_filter_type_list = {
          "versions": ['{{ ObjectLogEntryType.CREATE_OBJECT.name.lower() }}', '{{ ObjectLogEntryType.EDIT_OBJECT.name.lower() }}', '{{ ObjectLogEntryType.RESTORE_OBJECT_VERSION.name.lower() }}'],
          "measurements": ['{{ ObjectLogEntryType.USE_OBJECT_IN_MEASUREMENT.name.lower() }}'],
          "comments": ['{{ ObjectLogEntryType.POST_COMMENT.name.lower() }}'],
          "other": ['{{ ObjectLogEntryType.OTHER.name.lower() }}']
        };
        window.activity_log_toggle = function(should_show, category) {
          var type_list = activity_log_filter_type_list[category];
          var activity_log = $('#activity_log').find('> tbody');
          type_list.forEach(function(activity_log_type) {
            var activity_log_rows = activity_log.find('tr[data-activity-log-type='+activity_log_type+']');
            if (should_show) {
              activity_log_rows.css({display: 'table-row'});
            } else {
              activity_log_rows.css({display: 'none'});
            }
          });
          $('#activity_log_counter').html(''+activity_log.find('tr:visible').length+'&thinsp;/&thinsp;'+activity_log.find('tr').length);
          window.activity_log_toggle.current_state[category] = should_show;
          Cookies.set('SAMPLEDB_ACTIVITY_LOG_FILTER_STATE', window.activity_log_toggle.current_state);
        };
        window.activity_log_toggle.current_state = {};
        var activity_log_filter_state = Cookies.getJSON('SAMPLEDB_ACTIVITY_LOG_FILTER_STATE');
        if (activity_log_filter_state === undefined) {
          activity_log_filter_state = {
            "versions": true,
            "measurements": true,
            "comments": true,
            "other": true
          };
          Cookies.set('SAMPLEDB_ACTIVITY_LOG_FILTER_STATE', activity_log_filter_state);
        }
        window.activity_log_toggle(activity_log_filter_state['versions'], "versions");
        window.activity_log_toggle(activity_log_filter_state['measurements'], "measurements");
        window.activity_log_toggle(activity_log_filter_state['comments'], "comments");
        window.activity_log_toggle(activity_log_filter_state['other'], "other");
        window.update_activity_log_filter_states = function() {
          if (window.activity_log_toggle.current_state['versions']) {
            $('#activity_log_filter_versions').attr('checked', 'checked');
          }
          if (window.activity_log_toggle.current_state['measurements']) {
            $('#activity_log_filter_measurements').attr('checked', 'checked');
          }
          if (window.activity_log_toggle.current_state['comments']) {
            $('#activity_log_filter_comments').attr('checked', 'checked');
          }
          if (window.activity_log_toggle.current_state['other']) {
            $('#activity_log_filter_other').attr('checked', 'checked');
          }
        };
      {% endif %}
      {% if not is_archived %}
        window.file_table_toggle = function(should_show, category) {
          var file_table = $('#file_table').find('> tbody');
            var file_table_rows = file_table.find('tr[data-file-type='+category+']');
            if (should_show) {
              file_table_rows.css({display: 'table-row'});
            } else {
              file_table_rows.css({display: 'none'});
            }
          $('#file_table_counter').html(''+file_table.find('tr:visible').length+'&thinsp;/&thinsp;'+file_table.find('tr').length);
          window.file_table_toggle.current_state[category] = should_show;
          Cookies.set('SAMPLEDB_FILE_TABLE_FILTER_STATE', window.file_table_toggle.current_state);
        };
        window.file_table_toggle.current_state = {};
        var file_table_filter_state = Cookies.getJSON('SAMPLEDB_FILE_TABLE_FILTER_STATE');
        if (file_table_filter_state === undefined) {
          file_table_filter_state = {
            "notebooks": true,
            "other": true
          };
          Cookies.set('SAMPLEDB_FILE_TABLE_FILTER_STATE', file_table_filter_state);
        }
        window.file_table_toggle(file_table_filter_state['notebooks'], "notebooks");
        window.file_table_toggle(file_table_filter_state['other'], "other");
        window.update_file_table_filter_states = function() {
          if (window.file_table_toggle.current_state['notebooks']) {
            $('#file_table_filter_notebooks').attr('checked', 'checked');
          }
          if (window.file_table_toggle.current_state['other']) {
            $('#file_table_filter_other').attr('checked', 'checked');
          }
        };
        function buildViewableFileTree(raw_file_tree) {
          var file_names = Object.keys(raw_file_tree);
          file_names.filter(function(file_name) {
            return raw_file_tree.hasOwnProperty(file_name);
          });
          file_names.sort(function(file_name_1, file_name_2) {
            if (raw_file_tree[file_name_1] === 'File' && raw_file_tree[file_name_2] !== 'File') {
                return 1;
            }
            if (raw_file_tree[file_name_1] !== 'File' && raw_file_tree[file_name_2] === 'File') {
                return -1;
            }
            return file_name_1.toLocaleLowerCase().localeCompare(file_name_2.toLocaleLowerCase());
          });
          var file_tree = [];
          for (var i in file_names) {
            var file_name = file_names[i];
            if (raw_file_tree[file_name] === 'File') {
              file_tree.push({
                text: file_name
              });
            } else if (raw_file_tree[file_name] === 'Directory') {
              file_tree.push({
                text: file_name,
                selectable: false,
                nodes: [
                  {
                    text: "",
                    icon: "fa fa-spinner fa-spin"
                  }
                ]
              });
            } else {
              file_tree.push({
                text: file_name,
                selectable: false,
                nodes: buildViewableFileTree(raw_file_tree[file_name])
              });
            }
          }
          return file_tree;
        }
        function setUpTreeView(file_source) {
          var file_source_url_template = '{{ url_for('frontend.existing_files_from_source', file_source='FILE_SOURCE') }}';
          function setUpTreeViewFromRawFileTree(raw_file_tree) {
            $('#existing_files_tree').treeview({
              data: [
                {
                  id: 'root',
                  text: '/',
                  selectable: false,
                  nodes: buildViewableFileTree(raw_file_tree)
                }
              ],
              levels: 2,
              multiSelect: true,
              showBorder: false,
              expandIcon: "fa fa-folder",
              collapseIcon: "fa fa-folder-open",
              emptyIcon: "fa fa-file-o",
              onNodeExpanded: function(event, node) {
                if (node.nodes.length === 1 && node.nodes[0].text === '' && node.nodes[0].icon === 'fa fa-spinner fa-spin') {
                  var treeview = $('#existing_files_tree');
                  var relative_path = buildPathFromTreeviewNode(treeview, node);
                  $.getJSON(file_source_url_template.replace('FILE_SOURCE', file_source) + "&relative_path=" + encodeURI(relative_path), function(raw_file_subtree) {


                    var previously_expanded_node_paths = [];
                    $.each(treeview.treeview('getExpanded', 'root'), function(_, previously_expanded_node) {
                      previously_expanded_node_paths.push(buildPathArrayFromTreeviewNode($('#existing_files_tree'), previously_expanded_node));
                    });
                    var previously_selected_node_paths = [];
                    $.each(treeview.treeview('getSelected', 'root'), function(_, previously_selected_node) {
                      previously_selected_node_paths.push(buildPathArrayFromTreeviewNode($('#existing_files_tree'), previously_selected_node));
                    });

                    var relative_path_array = buildPathArrayFromTreeviewNode(treeview, node);
                    var subtree_parent = raw_file_tree;
                    for (var i = 0; i < relative_path_array.length-1; i++) {
                      subtree_parent = subtree_parent[relative_path_array[i]];
                    }
                    subtree_parent[relative_path_array[relative_path_array.length-1]] = raw_file_subtree;
                    setUpTreeViewFromRawFileTree(raw_file_tree);

                    $.each(previously_expanded_node_paths, function(_, previously_expanded_node_path) {
                      treeview.treeview('expandNode', getTreeviewNodeFromPathArray(treeview, previously_expanded_node_path));
                    });
                    $.each(previously_selected_node_paths, function(_, previously_selected_node_path) {
                      treeview.treeview('selectNode', getTreeviewNodeFromPathArray(treeview, previously_selected_node_path));
                    });
                  });
                }
              }
            });
            if (file_source === 'jupyterhub') {
              $('#button-open-jupyterhub').removeClass('hidden');
            } else {
              $('#button-open-jupyterhub').addClass('hidden');
            }
            $('#input-file-source-hidden').val(file_source);
            $('#fileAddModal').modal('show');
          }
          $.getJSON(file_source_url_template.replace('FILE_SOURCE', file_source), setUpTreeViewFromRawFileTree);
        }
        $('#button-show-mobile-file-upload-modal').click(function() {
            $('#mobileFileLinkModal').modal('show');
        });
        $('#button-show-instrument-files-modal').click(function() {
          setUpTreeView('instrument');
        });
        $('#button-show-jupyterhub-files-modal').click(function() {
          setUpTreeView('jupyterhub');
        });

        function getTreeviewNodeFromPathArray(treeview, path_array) {
          var current_node = treeview.treeview('getExpanded', 'root')[0];
          for (var j = 0; j < path_array.length; j++) {
            var expected_text = path_array[j];
            var found = false;
            for (var i = 0; i < current_node.nodes.length; i++) {
              if (current_node.nodes[i].text === expected_text) {
                current_node = current_node.nodes[i];
                found = true;
                break;
              }
            }
            if (!found) {
              return null;
            }
          }
          return current_node;
        }
        function buildPathArrayFromTreeviewNode(treeview, node) {
          var path = [];
          var current_node = node;
          while (typeof current_node.parentId !== 'undefined') {
            path.push(current_node.text);
            current_node = treeview.treeview('getNode', current_node.parentId);
          }
          return path.reverse();
        }
        function buildPathFromTreeviewNode(treeview, node) {
          var path_array = buildPathArrayFromTreeviewNode(treeview, node);
          var path = '';
          for (var i = 0; i < path_array.length; i++) {
            path += '/' + path_array[i];
          }
          return path;
        }
        $('#input-file-upload').on('change', function() {
          var files = $(this).get(0).files;
          if (files.length === 0) {
            $('#input-file-text').val("");
          } else if (files.length === 1) {
            $('#input-file-text').val(files[0].name);
            $('#button-upload-files').removeClass('disabled');
          } else {
            $('#input-file-text').val(files.length + " files selected");
            $('#button-upload-files').removeClass('disabled');
          }
          $('#input-file-names-hidden').val("");
          $('#input-file-source-hidden').val("local");
        });
        $('#fileAddModalSelect').on('click', function() {
          $('#fileAddModal').modal('hide');
          var tree = $('#existing_files_tree');
          var selected_nodes = tree.treeview('getSelected', 'root');
          var paths = [];
          $.each(selected_nodes, function(_, selected_node) {
            var path = buildPathFromTreeviewNode(tree, selected_node);
            paths.push(path);
          });
          if (selected_nodes.length === 0) {
            $('#input-file-text').val("");
          } else if (selected_nodes.length === 1) {
            $('#input-file-text').val(buildPathFromTreeviewNode(tree, selected_nodes[0]));
          } else {
            $('#input-file-text').val(selected_nodes.length + " files selected");
          }
          $('#input-file-names-hidden').val(JSON.stringify(paths));
          $('#input-file-upload').replaceWith('<input id="input-file-upload" type="file" multiple style="display: none;">');
          $('#button-upload-files').removeClass('disabled');
        });
      {% endif %}

    $('.button-file-info').on('click', function() {
      var file_id = $(this).attr('data-file_id');
      $('#fileInfoModal-'+file_id).modal('show');
    });
    $('.file-info-hide').hide();
    $('.file-info-edit-mode').hide();
    $('.file-info-view-mode').show();
    $('.button-file-info-edit').on('click', function() {
      $('.input-file-info-title').each(function() {
        $(this).attr('data-value', $(this).attr('value'));
      });
      $('.input-file-info-description').each(function() {
        $(this).attr('data-value', $(this).val());
      });
      $('.file-info-edit-mode').show();
      $('.file-info-view-mode').hide();
    });
    $('.button-file-info-cancel').on('click', function() {
      $('.file-info-edit-mode').hide();
      $('.file-info-view-mode').show();
      $('.input-file-info-title').each(function() {
        $(this).val($(this).attr('data-value'));
      });
      $('.input-file-info-description').each(function() {
        $(this).val($(this).attr('data-value'));
      });
    });
    $('.button-file-info-hide-cancel').on('click', function() {
      $('.file-info-main').show();
      $('.file-info-hide').hide();
    });
    $('.button-file-info-hide').on('click', function() {
      $('.file-info-main').hide();
      $('.file-info-hide').show();
    });
    $('.modal-file-info').on('hidden.bs.modal', function (e) {
      $('.file-info-hide').hide();
      $('.file-info-main').show();
    });
    });
  </script>
{% endblock %}
