<!-- array start -->
{% if search_query_attribute %}
  {% set base_search_query_attribute = search_query_attribute %}
{% else %}
  {% set base_search_query_attribute = "" %}
{% endif %}
<div class="row" style="padding-right: 0.75em;">
  {% include "objects/property_label.html" %}
  <div class="col-md-9 array-style-list">
  {% if data %}
    <ul style="padding-left: 1.25em">
    {% for item in data %}
      {% set name = name ~ "_" ~ loop.index0 %}
      {% set tmp_style = schema['style'] %}
      {% set schema = schema['items'] %}
      {% set z = schema.update({'parent_style': tmp_style}) %}
      {% set id_prefix = id_prefix + '_{}_'.format(loop.index0) %}
      {% set data = item %}
      {% if diff is not none and previous_schema is not none and not (diff is mapping) and diff | length > loop.index0  %}
        {% set diff = diff[loop.index0] %}
        {% if 'items' in previous_schema %}
          {% set previous_schema = previous_schema['items'] %}
          {{ previous_schema.update({'parent_style': tmp_style}) or '' }}
        {% else %}
          {% set previous_schema = none %}
        {% endif %}
      {% else %}
        {% set diff = none %}
        {% set previous_schema = none %}
      {% endif %}
      {% set search_query_attribute = base_search_query_attribute + ".%d" | format(loop.index0) %}
      {% set hidden = False %}
      <li>{% include "objects/view/any.html" %}</li>
    {% endfor %}
    </ul>
    {% if data.export_edit_note %}
      <p class="text-muted"><i class="fa fa-share-alt" aria-hidden="true"></i> _('Note:') {{ data.export_edit_note }}</p>
    {% endif %}
  {% else %}
    &mdash;
  {% endif %}
  </div>
</div>
