<div>
<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly_plot.js') }}"></script>
            {{ schema.title }}
         {% if data.plotly_chart_json_string %}
            <a id="plot_info_link_{{ schema.title }}" onclick="plotlyPlot({{ data.plotly_chart_json_string }}, '{{ schema.title }}')">more info</a>
         {% else %}
             -
         {% endif %}
</div>
    <div class="col-md-9" id="plotly_plot_div_{{ schema.title }}" style="display:none"></div>
