<div class="row" style="padding-right:0.75em">
  <label class="col-md-3" style="text-align: right; padding-right:2.3em">{{ schema.title }}</label>
  <div class="col-md-9">
  {% with found = [] %}
  {% for obj in measurements %}
    {% if not found and data is not none and "object_id" in data and data.object_id == obj.object_id %}
      <a href="{{ url_for('frontend.object', object_id=obj.object_id) }}">{{ obj.data['name']['text'] }} (#{{ obj.object_id }})</a>
    {% if found.append(true) %}{% endif %}
    {% endif %}
  {% endfor %}
  {% if not found %}
    {% if data.object_id %}
      <a href="{{ url_for('frontend.object', object_id=data.object_id) }}">#{{ data.object_id }}</a>
    {% else %}
      &mdash;
    {% endif %}
  {% endif %}
  {% endwith %}
  </div>
</div>
