<!-- object start -->
    {% if ((show_object_title is none and config['SHOW_OBJECT_TITLE']) or show_object_title)  and schema.title %}
        <span style="font-size:1.5em; padding-left: 15px; margin-bottom: 5px; margin-top: 10px; display:block;">{{ schema.title | get_translated_text }}</span>
    {% endif %}
{% if search_query_attribute %}
  {% set base_search_query_attribute = search_query_attribute %}
{% else %}
  {% set base_search_query_attribute = "" %}
{% endif %}
<div>
{% if "propertyOrder" not in schema %}
  {% for property_name, property_schema in schema.properties.items() %}
    {% if data | are_conditions_fulfilled(property_schema) %}
    {% set name = property_name %}
    {% set schema = property_schema %}
    {% if data is not none and property_name in data %}
    {% set data = data[property_name] %}
    {% else %}
    {% set data = none %}
    {% endif %}
    {% if base_search_query_attribute %}
      {% set search_query_attribute = base_search_query_attribute + "." + name %}
    {% else %}
      {% set search_query_attribute = name %}
    {% endif %}
    {% include "objects/view/any.html" %}
    {% endif %}
  {% endfor %}
{% else %}
  {% for property_name in schema.propertyOrder %}
    {% if property_name in schema.properties %}
      {% if data | are_conditions_fulfilled(schema.properties[property_name]) %}
      {% set name = property_name %}
      {% set schema = schema.properties[property_name] %}
      {% if data is not none and property_name in data %}
      {% set data = data[property_name] %}
      {% else %}
      {% set data = none %}
      {% endif %}
      {% if base_search_query_attribute %}
        {% set search_query_attribute = base_search_query_attribute + "." + name %}
      {% else %}
        {% set search_query_attribute = name %}
      {% endif %}
      {% include "objects/view/any.html" %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% for property_name, property_schema in schema.properties.items() %}
    {% if property_name not in schema.propertyOrder %}
      {% if data | are_conditions_fulfilled(property_schema) %}
      {% set name = property_name %}
      {% set schema = property_schema %}
      {% if data is not none and property_name in data %}
      {% set data = data[property_name] %}
      {% else %}
      {% set data = none %}
      {% endif %}
      {% if base_search_query_attribute %}
        {% set search_query_attribute = base_search_query_attribute + "." + name %}
      {% else %}
        {% set search_query_attribute = name %}
      {% endif %}
      {% include "objects/view/any.html" %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
</div>
<!-- object end -->