<div class="row" style="padding-right:0.75em">
  <label class="col-md-3" style="text-align: right">{{ schema.title | get_translated_text }}
    {% include "objects/search_link.html" %}
  </label>
  <div class="col-md-9">
  {% if data is not none and "object_id" in data %}
    {% if "component_uuid" in data and "component_uuid" is not none %}
      {% set component_uuid = data['component_uuid'] %}
    {% else %}
      {% set component_uuid = none %}
    {% endif %}
    {% with component_name, component_id, component_address = get_component_information_by_uuid(component_uuid) %}
      {% with obj = get_object_if_current_user_has_read_permissions(data.object_id, component_uuid) %}
        {% if not (obj is none) %}
          <a href="{{ url_for('frontend.object', object_id=obj.object_id) }}">{{ obj.name | get_translated_text(metadata_language) }} (#{{ obj.object_id }})</a>
          {{ federation_information_symbol(obj.component, obj.fed_object_id, 'object') }}
        {% elif component_id != 0 %}
          #{{ data.object_id }} @ {{ component_name }}
          {{ federation_information_symbol_data(component_name, component_address, data.object_id, 'object') }}
        {% else %}
          <a href="{{ url_for('frontend.object', object_id=data.object_id) }}">#{{ data.object_id }}</a>
        {% endif %}
      {% endwith %}
    {% endwith %}
  {% else %}
    &mdash;
  {% endif %}
  {% if data and data.export_edit_note %}
    <p class="text-muted"><i class="fa fa-share-alt" aria-hidden="true"></i> {{ _('Note:') }} {{ data.export_edit_note }}</p>
  {% endif %}
  </div>
</div>
