{% extends "objects/view/regular_property.html" %}

{% block property_field %}
  {% if data is not none and 'plotly' in data and data.plotly != {} %}
    {% set plot_counter.value = plot_counter.value + 1 %}
    {% set plot_id = id_prefix ~ '_plot' ~ plot_counter.value %}
    <div id="plotly_plot_div_{{ plot_id }}"></div>
    <script type="application/json" data-sampledb-plotly-chart="plotly_plot_div_{{ plot_id }}">
      {{ data.plotly | tojson | safe }}
    </script>
  {% else %}
    &mdash;
  {% endif %}
{% endblock %}
