{% if related_objects_tree.object_ref.is_local %}
  {% set object_name = related_objects_tree.object_name or '–' %}
  {% if in_export_data_modal %}<span class="data_export_object_wrapper"><input type="checkbox" title="{{ _('Include #%(object_id)s in Export', object_id=related_objects_tree.object_id) }}" {% if related_objects_tree.referenced_objects is not none %}name="data_export_object_{{ related_objects_tree.object_id }}" id="data_export_object_{{ related_objects_tree.object_id }}" data-object-id="{{ related_objects_tree.object_id }}" {% else %}disabled="disabled"{% endif %} class="data_export_object data_export_object_{{ related_objects_tree.object_id }}"><label for="data_export_object_{{ related_objects_tree.object_id }}" class="fa fa-fw"><span class="sr-only">{{ _('Include #%(object_id)s in Export', object_id=related_objects_tree.object_id) }}</span></label></span>{% endif %}
  <a href="{{ url_for('.object', object_id=related_objects_tree.object_id) }}">{{ object_name }} &bullet; #{{ related_objects_tree.object_id }}</a>
  {% if related_objects_tree.object is not none %}
    {{ import_information_symbol(object) }}
  {% endif %}
  {% if related_objects_tree.referenced_objects or related_objects_tree.referencing_objects %}
  <ul>
  {% endif %}
  {% if related_objects_tree.referenced_objects %}
    {% for related_objects_tree in related_objects_tree.referenced_objects %}
      <li>{% include "objects/view/related_objects_tree_toggle.html" %}<i class="fa fa-fw fa-arrow-left" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{ _('Referenced by the metadata of %(object_name)s (#%(object_id)s)', object_name=object_name, object_id=object.object_id) }}"></i>{% include "objects/view/related_objects.html" %}</li>
    {% endfor %}
  {% endif %}
  {% if related_objects_tree.referencing_objects %}
    {% for related_objects_tree in related_objects_tree.referencing_objects %}
      <li>{% include "objects/view/related_objects_tree_toggle.html" %}<i class="fa fa-fw fa-arrow-right" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{ _('References %(object_name)s (#%(object_id)s) in its metadata', object_name=object_name, object_id=object.object_id) }}"></i>{% include "objects/view/related_objects.html" %}</li>
    {% endfor %}
  {% endif %}
  {% if related_objects_tree.referenced_objects or related_objects_tree.referencing_objects %}
  </ul>
  {% endif %}
{% elif related_objects_tree.component_uuid is not none %}
  {% if related_objects_tree.component_uuid != config['FEDERATION_UUID'] %}
    {% set object_ref = FederationObjectRef(fed_id=related_objects_tree.object_id, component_uuid=related_objects_tree.component_uuid) %}
    #{{ related_objects_tree.object_id }} @ {{ object_ref.component.get_name() }}
    {{ import_information_symbol(object_ref) }}
  {% else %}
    <a href="{{ url_for('frontend.object', object_id=data.object_id) }}">#{{  related_objects_tree.object_id }}</a>
  {% endif %}
{% else %}
  {% if related_objects_tree.eln_object_url %}
    <a href="{{ data.eln_object_url }}">
  {% endif %}
  {{ _('Object') }} #{{ related_objects_tree.object_id }} @
  {% if not related_objects_tree.eln_object_url %}
    <a href="{{ related_objects_tree.eln_source_url }}">
  {% endif %}
  {{ related_objects_tree.eln_source_url }}
  </a>
{% endif %}
