{% set plotly = namespace() %}
{% if plotly.counter is not defined %}
    {% set plotly.counter = 1 %}
{% endif %}
<div>
    <div>
        {% if data.plotly.layout.title.text %}
            {{ data.plotly.layout.title.text }}
        {% else %}
            {{ schema.title }}
        {% endif %}

        <a id="plot_info_link_{{ plotly.counter }}" onclick="$( '#plotly_plot_div_{{ plotly.counter }}' ).toggle()">more info</a>
    </div>
    <div id="plotly_plot_div_{{ plotly.counter }}" style="display:none"></div>
</div>
<script type="text/javascript">
  Plotly.newPlot('plotly_plot_div_{{ plotly.counter }}', {{ data.plotly|tojson|safe }});
</script>
{% set plotly.counter = plotly.counter + 1 %}
