<div>
    <div>
        {% if 'plotly' in data and 'layout' in data.plotly and 'title' in data.plotly.layout and 'text' in data.plotly.layout.title %}
            {{ data.plotly.layout.title.text|striptags }}
        {% else %}
            {{ schema.title }} #{{ loop.index1 }}
        {% endif %}

        <a id="plotly_info_link_{{ name }}_{{ entry_index }}" onclick="sdbtoggle( '{{ name }}_{{ entry_index }}' )">[show plot]</a>
    </div>
    <div id="plotly_plot_div_{{ name }}_{{ entry_index }}" style="display:none"></div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
    Plotly.newPlot('plotly_plot_div_{{ name }}_{{ entry_index }}', {{ data.plotly|tojson|safe }});
});
</script>
