<div>
<div><script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly_plot.js') }}"></script>
            {{ schema.title }}
         {% if data.plotly_chart_json_string %}
            <a id="plot_info_link_{{ data.plotly_chart_json_string | urlencode | count}}" onclick="plotlyPlot({{ data.plotly_chart_json_string }}, '{{ data.plotly_chart_json_string | urlencode | count }}')">more info</a>
         {% else %}
             -
         {% endif %}
</div>
    <div id="plotly_plot_div_{{ data.plotly_chart_json_string | urlencode | count }}" style="display:none"></div>
</div>