{% set location = locations_map[location_id] %}
{% set locations_tree = locations_tree[location_id] %}
{% set location_permissions = permissions_by_id[location_id] %}
<li>
{% if Permissions.READ in location_permissions %}
<a href="{{ url_for('.location', location_id=location.id) }}">{{ location | get_location_name(False) }}</a>
{{ federation_information_symbol(location.component, location.fed_id, 'location') }}
{% include "locations/responsible_users.html" %}
{% if location.description %}
  <pre style="font-family: sans-serif; background-color: transparent; border: 0; padding: 0;">{{ location.description | get_translated_text }}</pre>
{% endif %}
{% else %}
  {{ _('Location') }} #{{ location_id }}
{% endif %}
{% if locations_tree %}
  <ul>
  {% set location_ids_sorted_by_name = sort_location_ids_by_name(locations_tree.keys(), locations_map) %}
  {% for location_id in location_ids_sorted_by_name %}
    {% include "locations/locations_tree.html" %}
  {% endfor %}
  </ul>
{% endif %}
</li>
