{% extends "base.html" %}

{% block title %}{{ _('Set Up FIDO2 Passkey for Two-Factor Authentication') }} — {{ service_name }}{% endblock %}

{% block content %}
<div class="text-center">
  <h1>{{ _('Set Up FIDO2 Passkey for Two-Factor Authentication') }}</h1>
  <form action="{{ url_for('frontend.setup_fido2_passkey_two_factor_authentication') }}" method="post" id="setup-form">
    <p class="text-muted">{{ _('Please enter a description for the passkey you wish to use and then click "Set Up".') }}</p>
    {{ setup_form.hidden_tag() }}
    <div class="form-group" id="descriptionFormGroup">
      <input type="text" placeholder="{{ _('Description') }}" name="{{ setup_form.description.name }}" class="form-control" style="width: 204px; display:inline-block;" id="input-passkey-description"/>
      <span class="help-block"></span>
    </div>
    <div>
      <input type="submit" value="{{ _('Set Up') }}" class="btn btn-primary" style="width:100px;" />
      <a href="{{ url_for('.user_me_preferences') }}" class="btn btn-default" style="width:100px;">{{ _('Cancel') }}</a>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="module" nonce="{{ generate_inline_script_nonce() }}">
    import {
      create,
      parseCreationOptionsFromJSON
    } from "{{ fingerprinted_static('webauthn-json/js/webauthn-json.browser-ponyfill.js') }}";

    export async function register() {
      const options = {{ dict(options) | tojson }};
      const form = $('#setup-form');
      form.removeClass('has-error');
      const help_block = form.find('.help-block');
      help_block.text('');
      try {
        const publicKeyCredentialCreationOptions = parseCreationOptionsFromJSON(options)
        const credential = await create(publicKeyCredentialCreationOptions);
        form.find("[name='fido2_passkey_credentials']").val(JSON.stringify(credential));
        form[0].submit();
        return true;
      } catch (error) {
        $('#descriptionFormGroup').addClass('has-error');
        help_block.text("{{ _('The passkey failed to register with the following error:') }} " + error);
        return false;
      }
    }

    $(function() {
      $('#setup-form').on('submit', function(event) {
          event && event.preventDefault();
          if ($("#input-passkey-description").val() === "") {
            $('#descriptionFormGroup').addClass('has-error').find('.help-block').text("{{ _('Please enter at least 1 character.') }}");
            return false;
          } else {
            $('#descriptionFormGroup').removeClass('has-error').find('.help-block').text('');
            return register();
          }
      });
    });
  </script>
{% endblock %}
