{% extends get_inline_edit_property_template(schema, container_style) %}

{% set input_languages = [] %}
{% set disabled_language_codes = [] %}
{% set disabled_language_names = [] %}
{% set disabled_input_language_codes = [] %}
{% for language in languages %}
  {% if schema.get('languages') == 'all' or language.lang_code in schema.get('languages', ['en']) %}
    {% if language.enabled_for_input or (data and data.text and data.text.keys and language.lang_code in data.text.keys()) %}
      {% do input_languages.append(language) %}
    {% endif %}
    {% if not language.enabled_for_input %}
      {% do disabled_language_codes.append(language.lang_code) %}
      {% do disabled_language_names.append(language.names | get_translated_text) %}
      {% if language in input_languages %}
        {% do disabled_input_language_codes.append(language.lang_code) %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% block property_label %}
  <div class="col-md-3 width-md-important" style="padding-right: 0; padding-left: 0; width: calc(25% - {{ indent_level * 10 * 0.75 + 5 * 0.75 * (indent_level-1) }}px);">
    {% set property_label_class = 'col-md-12 width-md-important' %}
    {% set property_label_width = '100%' %}
    {% include "objects/property_label.html" %}
    <div class="form-switch">
      {% include "objects/forms/form_text_language_picker.html" %}
    </div>
  </div>
{% endblock %}

{% block property_value %}
  {% include "objects/values/text_value.html" %}
{% endblock %}

{% block property_edit_helper %}
  {% if data and data.text | get_translated_text(metadata_language) and ((schema.markdown and data.is_markdown) or schema.multiline) %}
    <a class="edit-helper" style="position: absolute; bottom: 10px; right: 17px;"><i class="fa fa-pencil-square-o"></i></a>
  {% else %}
    <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
  {% endif %}
{% endblock %}

{% block property_field %}
  {% include "objects/fields/text_field.html" %}
{% endblock %}