<div class="form-area">
    {# View #}
    <div class="view-switch">
        {% include "objects/view/user_value.html" %}
        <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
        <div class="alert-upload-failed">
            {{ _('Your input is not valid. Please check.') }}
        </div>
    </div>
    {# Form #}
    <div class="form-switch">
        <div class="{% if id_prefix+'_uid' in errors %} has-error{% elif id_prefix+'_uid' in form_data %} has-success{% endif %} row" style="padding-right:0.75em; padding-left:1em;">
          {% include "objects/forms/form_user_field.html" %}
        </div>
    </div>
</div>