<div class="row form-area" style="padding-right: 0.75em">
    {# View #}
    <div class="view-switch">
        {# Label #}
        <label class="col-md-3"
               style="text-align: right; padding-right:2.3em">{{ schema.title | get_translated_text }}</label>
        <div class="col-md-9">
            {% if data is not none and "object_id" in data %}
                {% with obj = get_object_if_current_user_has_read_permissions(data.object_id) %}
                    {% if not (obj is none) %}
                        <a href="{{ url_for('frontend.object', object_id=obj.object_id) }}">{{ obj.data['name']['text'] | get_translated_text(metadata_language) }}
                            (#{{ obj.object_id }})</a>
                        <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
                    {% else %}
                        <a href="{{ url_for('frontend.object', object_id=data.object_id) }}">#{{ data.object_id }}</a>
                        <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
                    {% endif %}
                {% endwith %}
            {% else %}
                &mdash;
                <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
            <div class="alert-upload-failed">
                {{ {"de": "Ihre Eingabe ist nicht korrekt. Bitte überprüfen.", "en": "Your input isn't valid. Please check."} | get_translated_text }}
            </div>
        </div>
    </div>
    {# Form #}
    <div class="form-switch ">
        {% if 'action_type_id' not in schema or schema['action_type_id'] is none %}
            {% set selected_action_type = none %}
        {% else %}
            {% set selected_action_type = schema['action_type_id'] %}
        {% endif %}
        {% if 'action_id' not in schema or schema['action_id'] is none %}
            {% set selected_action = none %}
        {% else %}
            {% set selected_action = schema['action_id'] %}
        {% endif %}
        {% include 'objects/forms/form_object_reference_base.html' %}
    </div>
</div>
