<div class="form-area">
    {# View #}
    <div class="view-switch">
        {% include "objects/view/object_reference_value.html" %}
        <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
        <div class="alert-upload-failed">
            {{ _('Your input is not valid. Please check.') }}
        </div>
    </div>
    {# Form #}
    <div class="form-switch" style="margin-bottom: -15px">
    {% include 'objects/forms/form_table_object_reference_base.html' %}
    </div>
</div>
