<div class="row" style="padding-right: 0.75em;">
  {% include "objects/property_label.html" %}
</div>
<div style="padding-left:2.5em;">
  <input type="hidden" name="{{ id_prefix }}_hidden" value="array" />
  {% if data is not none %}
    {% for item in data %}
      <input type="hidden" name="{{ id_prefix }}_{{ loop.index0 }}__hidden" value="{{ schema["items"]["type"] }}" />
    {% endfor %}
  {% endif %}
  {% if schema["items"]["type"] == 'object' %}
    <table class="table">
      <tbody>
        {% set item_property_names = schema["items"].properties.keys() %}
        {% set property_order = schema.get('items', {}).get('propertyOrder', []) %}
        {% for property_name in property_order %}
          {% if property_name in item_property_names %}
            <tr>
              {% with %}
                {% set schema = schema["items"].properties[property_name] %}
                {% set property_path = property_path + ('?', property_name) %}
                <th scope="col">
                  {% include "objects/table_property_label.html" %}
                </th>
              {% endwith %}
              {% if data is not none %}
                {% for item in data %}
                  <td>
                    {% set schema = schema['items'].properties[property_name] %}
                    {% set z = schema.update({'parent_style': 'horizontal_table'}) %}
                    {% if property_name in item %}
                      {% set data = item[property_name] %}
                    {% else %}
                      {% set data = none %}
                    {% endif %}
                    {% set entry_index = loop.index0 %}
                    {% set parent_id_prefix = id_prefix + '_{}_'.format(loop.index0) %}
                    {% set id_prefix = parent_id_prefix + '_' + property_name + '_' %}
                    {% set property_path = property_path + (loop.index0, property_name,) %}
                    {% if 'conditions' in schema %}
                      <div data-condition-wrapper-for="{{ id_prefix }}" class="condition-wrapper">
                        {% include "objects/inline_edit/inline_edit_any.html" %}
                        {{ form_conditions.append({ "parent_id_prefix": parent_id_prefix, "id_prefix": id_prefix, "conditions": schema['conditions']}) or '' }}
                      </div>
                      <div data-condition-replacement-for="{{ id_prefix }}" class="condition-replacement">
                        &mdash;
                      </div>
                    {% else %}
                      {% include "objects/inline_edit/inline_edit_any.html" %}
                    {% endif %}
                  </td>
                {% endfor %}
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
        {% for property_name in item_property_names %}
          {% if property_name not in property_order %}
            <tr>
              {% with %}
                {% set schema = schema["items"].properties[property_name] %}
                {% set property_path = property_path + ('?', property_name) %}
                <th scope="col">
                  {% include "objects/table_property_label.html" %}
                </th>
              {% endwith %}
              {% if data is not none %}
                {% for item in data %}
                  <td>
                    {% set schema = schema['items'].properties[property_name] %}
                    {% set z = schema.update({'parent_style': 'horizontal_table'}) %}
                    {% if property_name in item %}
                      {% set data = item[property_name] %}
                    {% else %}
                      {% set data = none %}
                    {% endif %}
                    {% set entry_index = loop.index0 %}
                    {% set parent_id_prefix = id_prefix + '_{}_'.format(loop.index0) %}
                    {% set id_prefix = parent_id_prefix + '_' + property_name + '_' %}
                    {% set property_path = property_path + (loop.index0, property_name,) %}
                    {% if 'conditions' in schema %}
                      <div data-condition-wrapper-for="{{ id_prefix }}" class="condition-wrapper">
                        {% include "objects/inline_edit/inline_edit_any.html" %}
                        {{ form_conditions.append({ "parent_id_prefix": parent_id_prefix, "id_prefix": id_prefix, "conditions": schema['conditions']}) or '' }}
                      </div>
                      <div data-condition-replacement-for="{{ id_prefix }}" class="condition-replacement">
                        &mdash;
                      </div>
                    {% else %}
                      {% include "objects/inline_edit/inline_edit_any.html" %}
                    {% endif %}
                  </td>
                {% endfor %}
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{{ _('Unsupported item type for horizontal_table style.') }}</p>
  {% endif %}
</div>
