<div class="form-area">
    {# View #}
    <div class="view-switch">
        {% if data is not none and "object_id" in data %}
            {% if "component_uuid" in data and "component_uuid" is not none %}
                {% set component_uuid = data['component_uuid'] %}
            {% else %}
                {% set component_uuid = none %}
            {% endif %}
            {% with component_name, component_id, component_address = get_component_information_by_uuid(component_uuid) %}
                {% with obj = get_object_if_current_user_has_read_permissions(data.object_id) %}
                    {% if not (obj is none) %}
                        <a href="{{ url_for('frontend.object', object_id=obj.object_id) }}">{% if obj.name | get_translated_text(metadata_language) == '' %}&mdash;{% else %}{{ obj.name | get_translated_text(metadata_language) }}{% endif %}
                            (#{{ obj.object_id }})</a>
                        {{ import_information_symbol(obj) }}
                    {% elif component_id != 0 %}
                        #{{ data.object_id }} @ {{ component_name }}
                        {{ import_information_symbol(FederationObjectRef(fed_id=data.object_id, component_uuid=component_uuid)) }}
                    {% else %}
                        <a href="{{ url_for('frontend.object', object_id=data.object_id) }}">#{{ data.object_id }}</a>
                    {% endif %}
                {% endwith %}
            {% endwith %}
        {% else %}
            &mdash;
        {% endif %}
        <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
        <div class="alert-upload-failed">
            {{ _('Your input is not valid. Please check.') }}
        </div>
    </div>
    {# Form #}
    <div class="form-switch" style="margin-bottom: -15px">
    {% include 'objects/forms/form_table_object_reference_base.html' %}
    </div>
</div>
