<div class="form-area">
    {# View #}
    <div class="view-switch">
        <div class="row" style="padding-right: 0.75em; padding-left: 15px">
            {{ data | format_quantity(schema) }}
            <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
            <div class="alert-upload-failed">
                {{ _('Your input is not valid. Please check.') }}
            </div>
        </div>
    </div>
    {# Form #}
    <div class="form-switch">
        {% if schema['units'] in ("1", "") %}
            <div class="{% if id_prefix+'_magnitude' in errors %}has-error{% elif id_prefix+'_magnitude' in form_data %} has-success{% endif %}">
                <input type="text" class="form-control" name="{{ id_prefix }}_magnitude"
                       placeholder="{{ (schema.placeholder or schema.title) | get_translated_text }}"
                       {% if id_prefix+'_magnitude' in form_data %}value="{{ form_data[id_prefix+'_magnitude'] }}"
                       {% elif data is not none and "magnitude_in_base_units" in data %}value="{{ data.magnitude_in_base_units | babel_format_number }}"{% endif %}>
            </div>
        {% else %}
            <div class="input-group{% if id_prefix+'_magnitude' in errors %} has-error{% elif id_prefix+'_magnitude' in form_data %} has-success{% endif %}">
                <input type="text" class="form-control" name="{{ id_prefix }}_magnitude"
                       placeholder="{{ (schema.placeholder or schema.title) | get_translated_text }}"
                       {% if id_prefix+'_magnitude' in form_data %}value="{{ form_data[id_prefix+'_magnitude'] }}"
                       {% elif data is not none %}value="{% if (data | to_datatype).units in ('min', 'h') %}{{ data.magnitude_in_base_units | format_time((data | to_datatype).units, schema.get('display_digits')) }}{% else %}{{ (data | to_datatype).magnitude | babel_format_number }}{% endif %}"{% endif %}>
              {% if schema['units'] is string or schema['units'] | length == 1 %}
                {% set unit = schema["units"] if schema["units"] is string else schema["units"][0] %}
                <input type="hidden" name="{{ id_prefix }}_units" value="{% if data is not none %}{{ (data | to_datatype).units }}{% else %}{{ unit }}{% endif %}"/>
                <span class="input-group-addon" style="min-width: 100px; text-align:left">{% if data is not none %}{{ (data | to_datatype).units | prettify_units }}{% else %}{{ unit | prettify_units  }}{% endif %}</span>
              {% else %}
                {% if id_prefix + '_units' in form_data %}
                  {% set selected_unit = form_data[id_prefix + '_units'] %}
                {% elif data is not none %}
                  {% set selected_unit = (data | to_datatype).units %}
                {% else %}
                  {% set selected_unit = schema['units'][0] %}
                {% endif %}
                <select class="selectpicker" name="{{ id_prefix }}_units" data-style="btn-default unit-selectpicker">
                {% for unit in schema['units'] %}
                  <option value="{{ unit }}" {% if unit == selected_unit %}selected="selected"{% endif %}>{{ unit | prettify_units }}</option>
                {% endfor %}
                {% if selected_unit not in schema['units'] %}
                  <option value="{{ selected_unit }}" selected="selected">{{ selected_unit | prettify_units }}</option>
                {% endif %}
                </select>
              {% endif %}
            </div>
        {% endif %}
        {% if id_prefix+'_magnitude' in errors %}
            <span class="has-error"><span class="help-block">{{ errors[id_prefix+'_magnitude'] }}</span></span>
        {% endif %}
    </div>
</div>