<div class="input-list form-area">
    {# View #}
    <div class="view-switch">
        {% if data is not none and "value" in data and not (data.value is none) %}
            {% if data.value %}
                <i class="fa fa-check"></i>
            {% else %}
                <i class="fa fa-times"></i>
            {% endif %}
        {% else %}
            &mdash;
        {% endif %}
        <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
        <div class="alert-upload-failed">
            {{ _('Your input is not valid. Please check.') }}
        </div>
    </div>
    {# Form #}
    <div class="form-switch">
        <div class="checkbox col-md-9">
            <label>
                <span class="sr-only">{{ schema.title | get_translated_text }}</span>
                <input type="hidden" name="{{ id_prefix }}_hidden" value="checkbox exists">
                <input type="checkbox" name="{{ id_prefix }}_value"
                       {% if id_prefix+'_hidden' in form_data %}{% if id_prefix+'_value' in form_data %}checked{% endif %}{% elif data is not none and "value" in data and data.value %}checked="checked"{% endif %}>
            </label>
            {% if id_prefix+'_hidden' in object_errors %}
                <span class="help-block"><strong>{{ _('Error:') }}</strong> {{ object_errors[id_prefix+'_hidden'] }}</span>
            {% endif %}
        </div>
    </div>
</div>
