<div class="row form-area" style="padding-right: 0.75em">
    {# Label #}
    <label class="col-md-3" style="text-align: right">{{ schema.title | get_translated_text }}
      {% include "objects/search_link.html" %}
    </label>
    {# View #}
    <div class="view-switch col-md-9">
        {% include "objects/view/user_value.html" %}
        <a class="edit-helper"><i class="fa fa-pencil-square-o"></i></a>
        <div class="alert-upload-failed">
            {{ _('Your input is not valid. Please check.') }}
        </div>
    </div>
    {# Form #}
    <div class="form-switch col-md-9">
      {% include "objects/forms/form_user_field.html" %}
        {% if id_prefix+'_uid' in errors %}
            <span class="help-block"><strong>{{ _('Error:') }}</strong> {{ errors[id_prefix+'_uid'] }}</span>{% endif %}
        {% if 'note' in schema %}
            <span class="help-block"><strong>{{ _('Note:') }}</strong> {{ schema['note'] | get_translated_text }}</span>{% endif %}
    </div>
</div>