<!-- array start -->
<div class="form-group row">
    {% if schema.title %}
        <label class="title-label" style="padding-left: 1.5em; margin-left: 15px; font-size: 17px">{{ schema.title | get_translated_text }}</label>
    {% endif %}
    {% set is_required = False %}
    {% set minItems = schema.get('minItems', 0) %}
    {% set maxItems = schema.get('maxItems', None) %}
    {% if data is not none %}
        {% set numItems = (data | length) %}
    {% else %}
        {% set numItems = 0 %}
    {% endif %}
    {% if search_query_attribute %}
        {% set base_search_query_attribute = search_query_attribute %}
    {% else %}
        {% set base_search_query_attribute = "" %}
    {% endif %}
</div>
<div style="padding-left:2.5em;">
    {% set itemName = (schema['items'].title | get_translated_text) %}
    {% if data is not none %}
        {% for item in data %}
            {% set name = "item" %}
            {% set tmp_style = schema['style'] %}
            {% set schema = schema['items'] %}
            {% set z = schema.update({'parent_style': tmp_style}) %}
            {% set id_prefix = id_prefix + '_{}_'.format(loop.index0) %}
            {% set data = item %}
            {% if base_search_query_attribute %}
                {% set search_query_attribute = base_search_query_attribute + "." + name %}
            {% else %}
                {% set search_query_attribute = name %}
            {% endif %}
            <div style="border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; border-top:1px solid #cccccc; border-right:1px solid #cccccc; margin-right:-1px; border-radius:5px 0 0 5px; padding-left:2.5em; padding-top:0.5em; padding-bottom: 0.5em; margin-bottom: 4px;">
                {% include "objects/inline_edit/inline_edit_any.html" %}
            </div>
        {% endfor %}
    {% endif %}
</div>
<!-- array end -->
